<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lachesis.mnisqm.module.user.dao.ComBedGroupMapper" >
  <resultMap id="BaseResultMap" type="com.lachesis.mnisqm.module.user.domain.ComBedGroup" >
    <id column="SEQ_ID" property="seqId" jdbcType="BIGINT" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="BEDS" property="beds" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 逻辑删除 -->
  <update id="deleteByPrimaryKey" parameterType="ComBedGroup" >
     update COM_BED_GROUP
    set 
      STATUS = '09',
      UPDATE_TIME = GETDATE(),
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR}
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </update>
  
  <insert id="insert" parameterType="ComBedGroup" >
    insert into COM_BED_GROUP (DEPT_CODE, GROUP_CODE, 
      GROUP_NAME, BEDS, STATUS, 
      CREATE_TIME, UPDATE_TIME, CREATE_PERSON, 
      UPDATE_PERSON)
    values (#{deptCode,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{beds,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      GETDATE(), GETDATE(), #{createPerson,jdbcType=VARCHAR}, 
      #{updatePerson,jdbcType=VARCHAR})
  </insert>
  <!-- 数据更新 -->
  <update id="updateByPrimaryKey" parameterType="ComBedGroup" >
    update COM_BED_GROUP
    set 
      GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      BEDS = #{beds,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      UPDATE_TIME = GETDATE(),
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR}
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select SEQ_ID, DEPT_CODE, GROUP_CODE, GROUP_NAME, BEDS, STATUS, CREATE_TIME, UPDATE_TIME, 
    CREATE_PERSON, UPDATE_PERSON
    from COM_BED_GROUP
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </select>
  <!-- 查询科室下面所有有效的分组-->
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="ComBedGroup">
    select SEQ_ID, DEPT_CODE, GROUP_CODE, GROUP_NAME, BEDS, STATUS, 
    CREATE_PERSON, UPDATE_PERSON
    from COM_BED_GROUP
    WHERE STATUS !='09'
    and dept_code = #{deptCode}
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List" >
    delete from COM_BED_GROUP where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert parameterType="com.lachesis.mnisqm.module.user.domain.ComBedGroup" id="insertAndReturnKey" keyProperty="id" useGeneratedKeys="true" >
    insert into COM_BED_GROUP (SEQ_ID, DEPT_CODE, GROUP_CODE, 
      GROUP_NAME, BEDS, STATUS, 
      CREATE_TIME, UPDATE_TIME, CREATE_PERSON, 
      UPDATE_PERSON)
    values (#{seqId,jdbcType=BIGINT}, #{deptCode,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{beds,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updatePerson,jdbcType=VARCHAR})
  </insert>
</mapper>