<!DOCTYPE html>
<html>
<head>
#docHead()
<style type="text/css">
.doc-health-table * {
	line-height: 1.4;
	font-size: 12pt;
}
.doc-health-table th, .doc-health-table td {
	padding: 1px;
	height: 20px;
}
@media print{
	@page {
		size: portrait;
		margin-top: 20mm;
		margin-bottom: 5.5mm;
	}
}
</style>
<title>肝病科危重患者护理计划单(上消化道出血）</title>
</head>
<body class="doc-view">
#docViewToolbar()
<div class="paper-container">
<div class="paper">
<div class="paper-content">
#dangerEnteron()
<div class="doc-content doc-health">
	<div>
		责任护士：<span name="nurse"></span>
		高级责任护士：<span name="seniorNurse"></span>
	</div>
	<table class="doc-health-table">
		<thead>
			<tr>
				<th colspan="3">护理计划</th>
				<th style="width: 75px;">起始日期</th>
				<th style="width: 55px;">签名</th>
				<th style="width: 75px;">停止日期</th>
				<th style="width: 55px;">签名</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="9" style="width: 65px;">基础护理</td>
				<td colspan="2" class="align-left">严密观察患者生命体征和病情变化，每30-60min巡视一次</td>
				<td><span id="beginDate1" name="beginDate1" class="date"></span></td>
				<td><span id="beginer1" name="beginer1" class="beginer"></span></td>
				<td><span id="endDate1" name="endDate1" class="date"></span></td>
				<td><span id="ender1" name="ender1" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">根据病情需要，合理氧疗</td>
				<td><span id="beginDate3" name="beginDate3" class="date"></span></td>
				<td><span id="beginer3" name="beginer3" class="beginer"></span></td>
				<td><span id="endDate3" name="endDate3" class="date"></span></td>
				<td><span id="ender3" name="ender3" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">翻身、拍背q2h-q4h一次，保持护理道通畅，防止坠积性肺炎</td>
				<td><span id="beginDate4" name="beginDate4" class="date"></span></td>
				<td><span id="beginer4" name="beginer4" class="beginer"></span></td>
				<td><span id="endDate4" name="endDate4" class="date"></span></td>
				<td><span id="ender4" name="ender4" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">为留置胃管、禁食、高热等生活不能自理的患者进行口腔护理</td>
				<td><span id="beginDate5" name="beginDate5" class="date"></span></td>
				<td><span id="beginer5" name="beginer5" class="beginer"></span></td>
				<td><span id="endDate5" name="endDate5" class="date"></span></td>
				<td><span id="ender5" name="ender5" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">留置尿管的患者每日进行尿道口护理或会阴冲洗bid</td>
				<td><span id="beginDate6" name="beginDate6" class="date"></span></td>
				<td><span id="beginer6" name="beginer6" class="beginer"></span></td>
				<td><span id="endDate6" name="endDate6" class="date"></span></td>
				<td><span id="ender6" name="ender6" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">鼻饲的患者做好胃管护理（固定、冲洗、回抽胃内容物q4h），防止胃潴留</td>
				<td><span id="beginDate7" name="beginDate7" class="date"></span></td>
				<td><span id="beginer7" name="beginer7" class="beginer"></span></td>
				<td><span id="endDate7" name="endDate7" class="date"></span></td>
				<td><span id="ender7" name="ender7" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">保持静脉输液通畅，密切观察穿刺部位，使用输液泵注意观察滴速q1h</td>
				<td><span id="beginDate8" name="beginDate8" class="date"></span></td>
				<td><span id="beginer8" name="beginer8" class="beginer"></span></td>
				<td><span id="endDate8" name="endDate8" class="date"></span></td>
				<td><span id="ender8" name="ender8" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">加强各种引流管的护理：妥善管理、引流液观察和记录、保持通畅、宣教等</td>
				<td><span id="beginDate9" name="beginDate9" class="date"></span></td>
				<td><span id="beginer9" name="beginer9" class="beginer"></span></td>
				<td><span id="endDate9" name="endDate9" class="date"></span></td>
				<td><span id="ender9" name="ender9" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">严格做好床旁交接班（生命体征、病情、管路等）</td>
				<td><span id="beginDate11" name="beginDate11" class="date"></span></td>
				<td><span id="beginer11" name="beginer11" class="beginer"></span></td>
				<td><span id="endDate11" name="endDate11" class="date"></span></td>
				<td><span id="ender11" name="ender11" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="5">专科护理</td>
				<td colspan="2" class="align-left">患者的体位：如果没有禁忌症，要求平卧并将下肢略抬高，以保证脑部供血</td>
				<td><span id="beginDate12" name="beginDate12" class="date"></span></td>
				<td><span id="beginer12" name="beginer12" class="beginer"></span></td>
				<td><span id="endDate12" name="endDate12" class="date"></span></td>
				<td><span id="ender12" name="ender12" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">保持呼吸道通畅：呕吐时头偏一侧，防止窒息及误吸</td>
				<td><span id="beginDate13" name="beginDate13" class="date"></span></td>
				<td><span id="beginer13" name="beginer13" class="beginer"></span></td>
				<td><span id="endDate13" name="endDate13" class="date"></span></td>
				<td><span id="ender13" name="ender13" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="3">饮食护理</td>
				<td class="align-left">急性大出血伴恶心、呕吐者禁食</td>
				<td><span id="beginDate14" name="beginDate14" class="date"></span></td>
				<td><span id="beginer14" name="beginer14" class="beginer"></span></td>
				<td><span id="endDate14" name="endDate14" class="date"></span></td>
				<td><span id="ender14" name="ender14" class="ender"></span></td>
			</tr>
			<tr>
				<td class="align-left">少量出血无呕吐---温凉流食</td>
				<td><span id="beginDate15" name="beginDate15" class="date"></span></td>
				<td><span id="beginer15" name="beginer15" class="beginer"></span></td>
				<td><span id="endDate15" name="endDate15" class="date"></span></td>
				<td><span id="ender15" name="ender15" class="ender"></span></td>
			</tr>
			<tr>
				<td class="align-left">出血停止---半流食、软食</td>
				<td><span id="beginDate16" name="beginDate16" class="date"></span></td>
				<td><span id="beginer16" name="beginer16" class="beginer"></span></td>
				<td><span id="endDate16" name="endDate16" class="date"></span></td>
				<td><span id="ender16" name="ender16" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="6">病情观察</td>
				<td colspan="2" class="align-left">生命体征，必要时进行心电监护</td>
				<td><span id="beginDate35" name="beginDate35" class="date"></span></td>
				<td><span id="beginer35" name="beginer35" class="beginer"></span></td>
				<td><span id="endDate35" name="endDate35" class="date"></span></td>
				<td><span id="ender35" name="ender35" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">神智及意识状态，有无疲倦、烦躁甚至昏迷</td>
				<td><span id="beginDate36" name="beginDate36" class="date"></span></td>
				<td><span id="beginer36" name="beginer36" class="beginer"></span></td>
				<td><span id="endDate36" name="endDate36" class="date"></span></td>
				<td><span id="ender36" name="ender36" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">皮肤颜色及甲床，肢体温暖或湿冷，周围静脉充盈情况</td>
				<td><span id="beginDate37" name="beginDate37" class="date"></span></td>
				<td><span id="beginer37" name="beginer37" class="beginer"></span></td>
				<td><span id="endDate37" name="endDate37" class="date"></span></td>
				<td><span id="ender37" name="ender37" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">严格准确记录出入量，休克时记录每小时尿量，应≥30ml/h</td>
				<td><span id="beginDate38" name="beginDate38" class="date"></span></td>
				<td><span id="beginer38" name="beginer38" class="beginer"></span></td>
				<td><span id="endDate38" name="endDate38" class="date"></span></td>
				<td><span id="ender38" name="ender38" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">呕吐物及粪便的性质、量及颜色，评估出血量及速度、部位</td>
				<td><span id="beginDate39" name="beginDate39" class="date"></span></td>
				<td><span id="beginer39" name="beginer39" class="beginer"></span></td>
				<td><span id="endDate39" name="endDate39" class="date"></span></td>
				<td><span id="ender39" name="ender39" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">继续或再出血的观察与判断</td>
				<td><span id="beginDate40" name="beginDate40" class="date"></span></td>
				<td><span id="beginer40" name="beginer40" class="beginer"></span></td>
				<td><span id="endDate40" name="endDate40" class="date"></span></td>
				<td><span id="ender40" name="ender40" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="6">护理风险及并发症预防</td>
				<td colspan="2" class="align-left">实施预防压疮的护理措施：定时翻身、保持皮肤清洁干燥、保护贴膜、气垫床等</td>
				<td><span id="beginDate18" name="beginDate18" class="date"></span></td>
				<td><span id="beginer18" name="beginer18" class="beginer"></span></td>
				<td><span id="endDate18" name="endDate18" class="date"></span></td>
				<td><span id="ender18" name="ender18" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">实施预防非计划性拔管的措施：评估、观察、固定、约束、宣教</td>
				<td><span id="beginDate19" name="beginDate19" class="date"></span></td>
				<td><span id="beginer19" name="beginer19" class="beginer"></span></td>
				<td><span id="endDate19" name="endDate19" class="date"></span></td>
				<td><span id="ender19" name="ender19" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">实施预防深静脉血栓的措施：观察、床上活动、驱动泵、宣教等</td>
				<td><span id="beginDate22" name="beginDate22" class="date"></span></td>
				<td><span id="beginer22" name="beginer22" class="beginer"></span></td>
				<td><span id="endDate22" name="endDate22" class="date"></span></td>
				<td><span id="ender22" name="ender22" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">实施预防跌倒坠床的措施：评估、加强巡视监护、床档、约束、宣教等</td>
				<td><span id="beginDate23" name="beginDate23" class="date"></span></td>
				<td><span id="beginer23" name="beginer23" class="beginer"></span></td>
				<td><span id="endDate23" name="endDate23" class="date"></span></td>
				<td><span id="ender23" name="ender23" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">实施预防误吸窒息的措施：评估、巡视观察、宣教</td>
				<td><span id="beginDate24" name="beginDate24" class="date"></span></td>
				<td><span id="beginer24" name="beginer24" class="beginer"></span></td>
				<td><span id="endDate24" name="endDate24" class="date"></span></td>
				<td><span id="ender24" name="ender24" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left">备好急救物品：除颤仪、抢救车、吸痰器</td>
				<td><span id="beginDate25" name="beginDate25" class="date"></span></td>
				<td><span id="beginer25" name="beginer25" class="beginer"></span></td>
				<td><span id="endDate25" name="endDate25" class="date"></span></td>
				<td><span id="ender25" name="ender25" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="2">健康教育及指导</td>
				<td colspan="2" class="align-left">体位、饮食、护理风险、用药及检查指导</td>
				<td><span id="beginDate26" name="beginDate26" class="date"></span></td>
				<td><span id="beginer26" name="beginer26" class="beginer"></span></td>
				<td><span id="endDate26" name="endDate26" class="date"></span></td>
				<td><span id="ender26" name="ender26" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left"><span id="extra1" name="extra1"></span></td>
				<td><span id="beginDate30" name="beginDate30" class="date"></span></td>
				<td><span id="beginer30" name="beginer30" class="beginer"></span></td>
				<td><span id="endDate30" name="endDate30" class="date"></span></td>
				<td><span id="ender30" name="ender30" class="ender"></span></td>
			</tr>
			<tr>
				<td rowspan="3">个体化的护理措施</td>
				<td colspan="2" class="align-left">保护性隔离措施：物表、空气消毒；手卫生等</td>
				<td><span id="beginDate28" name="beginDate28" class="date"></span></td>
				<td><span id="beginer28" name="beginer28" class="beginer"></span></td>
				<td><span id="endDate28" name="endDate28" class="date"></span></td>
				<td><span id="ender28" name="ender28" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left"><span id="extra2" name="extra2"></span></td>
				<td><span id="beginDate31" name="beginDate31" class="date"></span></td>
				<td><span id="beginer31" name="beginer31" class="beginer"></span></td>
				<td><span id="endDate31" name="endDate31" class="date"></span></td>
				<td><span id="ender31" name="ender31" class="ender"></span></td>
			</tr>
			<tr>
				<td colspan="2" class="align-left"><span id="extra3" name="extra3"></span></td>
				<td><span id="beginDate32" name="beginDate32" class="date"></span></td>
				<td><span id="beginer32" name="beginer32" class="beginer"></span></td>
				<td><span id="endDate32" name="endDate32" class="date"></span></td>
				<td><span id="ender32" name="ender32" class="ender"></span></td>
			</tr>
		</tbody>
	</table>
	<table class="doc-health-table" style="text-align: left;">
		<tr>
			<td>停病重/危日期：<span id="endDangerDate" name="endDangerDate" class="date2"></td>
			<td>当班责任护士：<span name="endNurse"></span></td>
			<td>患者出院日期：<span id="outDate" name="outDate" class="date2"></span></td>
			<td>当班责任护士：<span name="outNurse"></span></td>
		</tr>
	</table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(function() {
	// init datas
	$.ajax({
		url: '#url("/doc/data?docType=DANGER_ENTERON")',
    	type: 'GET',
    	data: {cureNo:'$!{patient.cureNo}'},
    	success: function(data, status) {
    		if (data) {
    			$.each(data, function(index, obj) {
    				var name = this['key'];
    				var value = this['value'];
    				if (value) {
    					var $e = $('span[name=' + name + ']');
    					$e.text(value);
    				}
    			});
    		}
    	},
    	error: function(xhr, status, err) {
    		$.messager.alert('数据', '获取数据失败', 'error');
//     		initComponent();
    	}
    });
});
</script>
</body>
</html>