<!DOCTYPE html>
<html>
<head>
#docHead()
<title>住院患者疼痛评估记录单</title>
</head>
<body class="doc">
#docToolbar()
<div class="doc-container">
#pain()
<div class="doc-content">
    <div id="tb">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
<!--         <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a> -->
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">还原</a>
<!-- 		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a> -->
    </div>
    <table id="dg" style="height: 400px;width: 100%;" class="easyui-datagrid" data-options="
    	nowrap: false,
		singleSelect: true,
		autoRowHeight: true,
		fitColumns: true,
		toolbar: '#tb',
		showFooter: true,
		onClickRow: onClickRow,
		onBeginEdit: onBeginEdit,
		onLoadSuccess: function(data) {
			$('textarea').autosize({
				append: '',
				callback: function() {
					$('#dg').datagrid('resize');
				}
			});
		},
		url: '#url("/doc/pain/datas")',
		queryParams: {
			cureNo: '$!{patient.cureNo}'
		},
		method: 'get',
		idField: 'id'">
	    <thead>
	        <tr>
	            <th rowspan="2" data-options="field:'date',
					align:'center',
					resizable: false,
					width:50,
					formatter: function(value,row,index){
						if (!value) {
							return '';
						}
						if (index == 0) {
	    					return value;
						}
						return formatDate(value, false, $('#dg').datagrid('getRows')[index-1]['date']);
	    			},
					editor: {
						type: 'datetimebox',
						options: {
							showSeconds: false,
							editable: false,
							validType:{
								length:[0,16]
							}
						}
					}">日期时间</th>
	        	<th colspan="5">疼痛评估</th>
	        	<th colspan="6">护理措施</th>
	            <th rowspan="2" data-options="width:20,field:'notice',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">通知医生</th>
	        	<th colspan="4">遵医嘱用药治疗</th>
	            <th rowspan="2" data-options="width:35,field:'drugTime',align:'center',resizable: false,editor:{type:'timespinner', options:{showSeconds:false}}">用药后再评估时间</th>
	            <th rowspan="2" data-options="width:20,field:'drugIntensity',align:'center',resizable: false,editor:{type:'textbox',options:{validType:{length:[0,50]}}}">用药后疼痛强度</th>
	            <th rowspan="2" data-options="width:50,field:'sign',align:'center',resizable: false">签名</th>
	        </tr>
	        <tr>
	            <th data-options="width:40,field:'part',align:'center',resizable: false,editor:{type:'textbox',options:{validType:{length:[0,50]}}}">部位</th>
	            <th data-options="width:20,field:'type',align:'center',resizable: false,editor:'text'">类型</th>
	            <th data-options="width:20,field:'intensity',align:'center',resizable: false,editor:{type:'textbox',options:{validType:{length:[0,50]}}}">强度</th>
	            <th data-options="width:20,field:'quale',align:'center',resizable: false,editor:'text'">性质</th>
	            <th data-options="width:30,field:'effect',align:'center',resizable: false,editor:'text'">疼痛对患者的影响</th>
	            <th data-options="width:20,field:'comfort',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">安慰患者</th>
	            <th data-options="width:20,field:'explain',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">解释病情</th>
	            <th data-options="width:20,field:'rest',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">卧床休息</th>
	            <th data-options="width:20,field:'disperseAttention',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">分散注意力</th>
	            <th data-options="width:45,field:'cure',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}">遵医嘱给予相应治疗护理措施</th>
	            <th data-options="width:20,field:'hold1',align:'center',resizable: false,editor:{type:'checkbox',options:{on:'√',off:''}}"><textarea id="hold5" style="width: 90%; height: 100%;">$!{doc.hold5}</textarea></th>
	            <th data-options="width:35,field:'time',align:'center',resizable: false,editor:{type:'timespinner', options:{showSeconds:false}}">时间</th>
	            <th data-options="width:40,field:'pill',align:'center',resizable: false,editor:{type:'textbox',options:{validType:{length:[0,50]}}}">药品</th>
	            <th data-options="width:35,field:'drugWay',align:'center',resizable: false,editor:{
	            	type: 'combobox',
	            	options: {
						url: '#url("/dict/children")?parentId=DRUG_WAY',
						method: 'get',
						valueField: 'name',
						textField: 'name',
						panelHeight: 'auto'
					}
	            }">用药途径</th>
	            <th data-options="width:35,field:'drugRate',align:'center',resizable: false,editor:{
	            	type: 'combobox',
	            	options: {
						url: '#url("/dict/children")?parentId=DRUG_RATE',
						method: 'get',
						valueField: 'name',
						textField: 'name',
						panelHeight: 'auto'
					}
	            }">用药频率</th>
	        </tr>
	    </thead>
	</table>
</div>
#painComment()
</div>
<div id="typeSelect" class="easyui-menu">
	<div id="Ⅰ">持续性</div>
	<div id="Ⅱ">阵发性</div>
	<div id="Ⅲ">间歇性</div>
	<div id="Ⅳ">进行性加重</div>
</div>
<div id="qualeSelect" class="easyui-menu">
	<div id="①">刀割样痛</div>
	<div id="②">绞痛</div>
	<div id="③">烧灼样痛</div>
	<div id="④">刺痛</div>
	<div id="⑤">压痛</div>
	<div id="⑥">胀痛</div>
	<div id="⑦">钝痛</div>
	<div id="⑧">酸痛</div>
</div>
<div id="effectSelect" class="easyui-menu">
	<div id="A">影响睡眠</div>
	<div id="B">翻转不安、无法入睡</div>
	<div id="C">食欲低下</div>
	<div id="D">生活自理能力（ADL低下）</div>
	<div id="E">无影响</div>
</div>
<!-- Diagnosis Window -->
<div id="win"></div>
<script type="text/javascript">
function onBeginEdit(index,row) {
	$('td[field="type"] input').click(function() {
		var hold = this;
		$('#typeSelect').menu({
		    onClick:function(item){
		        $(hold).val(item.id);
		    }
		});
		$('#typeSelect').menu('show', {
		    left: $(hold).offset().left,
		    top: $(hold).offset().top + $(hold).outerHeight()
		});
	});
	$('td[field="quale"] input').click(function() {
		var hold = this;
		$('#qualeSelect').menu({
		    onClick:function(item){
		        $(hold).val(item.id);
		    }
		});
		$('#qualeSelect').menu('show', {
		    left: $(hold).offset().left,
		    top: $(hold).offset().top + $(hold).outerHeight()
		});
	});
	$('td[field="effect"] input').click(function() {
		var hold = this;
		$('#effectSelect').menu({
		    onClick:function(item){
		        $(hold).val(item.id);
		    }
		});
		$('#effectSelect').menu('show', {
		    left: $(hold).offset().left,
		    top: $(hold).offset().top + $(hold).outerHeight()
		});
	});
	// 回车模拟Tab
	enterSimulateTab($("td :input:visible"));
}
var editIndex = undefined;
function endEditing(index) {
	if (editIndex == undefined) {
		return true;
	}
	if ($("#dg").datagrid('validateRow', editIndex)) {
		$("#dg").datagrid('endEdit', editIndex);
		editIndex = undefined;
		return true;
	} else {
		return false;
	}
}
function onClickRow(index){
    if (editIndex != index){
        if (endEditing()) {
        	// 本人,护理组长和护士长能修改
        	var rows = $('#dg').datagrid('getRows');
        	if ('$!{currentUser.code}' == rows[index]['userCode']
        			|| 1 == $!{currentUser.purview}
        			|| 2 == $!{currentUser.purview}) {
	            $('#dg').datagrid('selectRow', index)
	                    .datagrid('beginEdit', index);
	            editIndex = index;
        	}
        } else {
            $('#dg').datagrid('selectRow', editIndex);
        }
    }
}
function append(){
    if (endEditing()){
        $('#dg').datagrid('appendRow',{
        	date: datetimeToString(new Date()),
        	sign: '$!{currentUser.name}$!{currentUser.code}',
        	userCode: '$!{currentUser.code}',
        	deptCode: '$!{currentUser.deptCode}',
        	deptName: '$!{currentUser.deptName}'
        });
        editIndex = $('#dg').datagrid('getRows').length-1;
        $('#dg').datagrid('selectRow', editIndex)
                .datagrid('beginEdit', editIndex);
    }
}
function removeit() {
    var row = $('#dg').datagrid('getSelected');
    if (!row){return}
    var index = $('#dg').datagrid('getRowIndex', row);
    if (index == undefined){return}
    if ('$!{currentUser.code}' == row['userCode']) {
	    $('#dg').datagrid('cancelEdit', index)
	            .datagrid('deleteRow', index);
	    editIndex = undefined;
    } else {
    	$.messager.alert('数据删除', '只有本人才允许删除', 'info');
    }
}
function accept(){
    if (endEditing()){
    	var editable = '$!{doc.editable}' || true;
    	if (editable) {
	        $.ajax({
	        	url: '#url("/doc/pain")',
	        	type: 'POST',
	        	data: {
	        		cureNo: '$!{patient.cureNo}',
	        		hospitalNo: '$!{patient.hospitalNo}',
	        		// TODO: 点击才编辑,点击其他地方则以文本显示,类似于行编辑
	        		hold1: $('#hold1').is(':checked') ? '√' : '',
	        		hold2: $('#hold2').is(':checked') ? '√' : '',
	        		hold3: $('#hold3').is(':checked') ? '√' : '',
	        		hold4: $('#hold4').val(),
	        		hold5: $('#hold5').val(),
	        		inserted: JSON.stringify($('#dg').datagrid('getChanges', 'inserted')),
	        		updated: JSON.stringify($('#dg').datagrid('getChanges', 'updated')),
	        		deleted: JSON.stringify($('#dg').datagrid('getChanges', 'deleted'))
	        	},
	        	success: function(data, status) {
	        		if (data && data.code) {
	        			if ('1' == data.code) {
				        	$('#dg').datagrid('acceptChanges').datagrid('reload').datagrid('unselectAll');
		        		} else {
			        		$.messager.alert('数据保存', data.message || '保存失败', 'error');
	        			}
	        		}
	        	},
	        	error: function(xhr, status, err) {
	        		$.messager.alert('数据保存', '保存失败', 'error');
	        	}
	        });
    	} else {
    		$.messager.alert('数据保存', '不允许修改', 'error');
    	}
    }
}
function reject(){
    $('#dg').datagrid('rejectChanges').datagrid('unselectAll');
    editIndex = undefined;
}
// 性质补充项
function qualeMenu(id, text) {
	var $item = $('#qualeSelect #' + id);
	if (text) {
		if ($item.length == 0) {
			$('#qualeSelect').menu('appendItem', {
				id: id,
				text: text
			});
		} else {
			var item = $('#qualeSelect').menu('getItem', $item);
			$('#qualeSelect').menu('setText', {
				target: item.target,
				text: text
			});
		}
	} else {
		if ($item.length != 0) {
			$('#qualeSelect').menu('removeItem', $item).menu('resize', $('#qualeSelect'));
		}
	}
}
// initialize page when loaded
$(function() {
	$('#hold4').change(function() {
		qualeMenu('⑨', $(this).val());
	});
	$('#hold4').trigger('change');
	$('#save').click(accept);
	$('#approve').click(function() {});
	$('#print').val('预  览').click(function() {
		var params = [
   			'location=no',
   			'height='+screen.availHeight,
   			'width='+screen.availWidth,
   			'scrollbars=yes',
   			'resizable=yes',
   			'fullscreen=yes' // only works in IE, but here for completeness
   		].join(',');
   		var new_window = window.open('#url("/doc/pain/view?cureNo=$!{patient.cureNo}")', '', params);
   		new_window.resizeTo(screen.availWidth, screen.availHeight);
	});
	$('#diagnosisLabel').click(function() {
		$('#win').window({
			title: '诊断修正列表',
		    width: 700,
		    height: 500,
		    minimizable: false,
			href: '#url("/doc/diagnosis")?cureNo=$!{patient.cureNo}',
			onClose: function() {
				var rows = $('#dDg').datagrid('getRows');
				if (rows && rows.length > 0) {
					$('#pDiagnosis').text(rows[rows.length - 1]['diagnosis']);
				} else {
					$('#pDiagnosis').text('$!{patient.diagnose}');
				}
			}
		});
	});
});
</script>
</body>
</html>