<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lachesis.mnisqm.module.qualityForm.dao.QualityIndexMapper" >
	<insert id="insert" parameterType="com.lachesis.mnisqm.module.qualityForm.domain.QualityIndex">
		insert into QUALITY_INDEX
		(DEPT_CODE, NUMERATOR_ID, DENOMINATOR_ID, NUMERATOR_VAL,
		DENOMINATOR_VAL, INDEX_VAL, BIG_TYPE, TARGET, LIMIT_VAL,
		IS_USE, ORDER_VAL, STATUS, CREATE_TIME, UPDATE_TIME,
		CREATE_PERSON, UPDATE_PERSON, INDEX_NAME)
		values
		(#{deptCode},#{numeratorId},#{denominatorId},#{numeratorVal},
		#{denominatorVal},#{indexVal},#{bigType},#{target},#{limitVal},
		#{isUse},#{orderVal},#{status},GETDATE(), GETDATE(),
		#{createPerson},#{updatePerson},#{indexName})
	</insert>
	<update id="update" parameterType="com.lachesis.mnisqm.module.qualityForm.domain.QualityIndex">
		update QUALITY_INDEX
		set
		DEPT_CODE = #{deptCode},
		NUMERATOR_ID = #{numeratorId},
		DENOMINATOR_ID = #{denominatorId},
		NUMERATOR_VAL = #{numeratorVal},
		DENOMINATOR_VAL = #{denominatorVal},
		INDEX_VAL = #{indexVal},
		BIG_TYPE = #{bigType},
		TARGET = #{target},
		LIMIT_VAL = #{limitVal},
		IS_USE = #{isUse},
		ORDER_VAL = #{orderVal},
		UPDATE_TIME = GETDATE(),
		UPDATE_PERSON = #{updatePerson},
		INDEX_NAME = #{indexName}
		where
		SEQ_ID = #{seqId}
	</update>
	<select id="select" parameterType="com.lachesis.mnisqm.module.qualityForm.domain.QualityIndex"
	resultType="com.lachesis.mnisqm.module.qualityForm.domain.QualityIndex">
		select 
		SEQ_ID			seqId,
		DEPT_CODE		deptCode,
		NUMERATOR_ID	numeratorId,
		DENOMINATOR_ID	denominatorId,
		NUMERATOR_VAL	numeratorVal,
		DENOMINATOR_VAL	denominatorVal,
		INDEX_VAL		indexVal,
		BIG_TYPE		bigType,
		TARGET			target,
		LIMIT_VAL		limitVal,
		IS_USE			isUse,
		ORDER_VAL		orderVal,
		INDEX_NAME		indexName
		from QUALITY_INDEX
		where
		STATUS != '09'
		<if test="indexName != null">
		and INDEX_NAME like '%'+#{indexName}+'%'
		</if>
		<if test="bigType != null">
		and BIG_TYPE like '%'+#{bigType}+'%'
		</if>
	</select>
	<update id="delete" parameterType="java.lang.Long">
	 	update QUALITY_INDEX
	 	set
	 	STATUS = '09'
	 	where
	 	SEQ_ID = #{seqId}
	</update>
</mapper>