.integrated_query{background: url('../img/manage/integrated_query.gif') no-repeat !important;}/*综合查询*/
.police_micro-channel{background: url('../img/manage/police_micro-channel.gif') no-repeat !important ;}/*警务微信*/
.news_briefing{background: url('../img/manage/news_briefing.gif') no-repeat !important;}/*要闻简报*/
.video_manage{background: url('../img/manage/video_manage.gif') no-repeat !important;}/*视频管理*/
.file_sharing{background: url('../img/manage/file_sharing.gif') no-repeat !important;}/*文件共享*/
.intelligence_gathering_manage{background: url('../img/manage/intelligence_gathering_manage.gif') no-repeat !important;}/*智能采集*/
.server_monitoring{background: url('../img/manage/server_monitoring.gif') no-repeat !important;}/*服务器监控*/
.FTP_service_monitoring{background: url('../img/manage/FTP_service_monitoring.gif') no-repeat !important;}/*FTP服务监控*/
.terminal_monitoring{background: url('../img/manage/terminal_monitoring.gif') no-repeat !important;}/*终端监控*/
.database_monitoring{background: url('../img/manage/database_monitoring.gif') no-repeat !important;}/*数据库监控*/
.application_monitoring{background: url('../img/manage/application_monitoring.gif') no-repeat !important;}/*应用监控*/
.daily_inspection{background: url('../img/manage/daily_inspection.gif') no-repeat !important;}/*每日巡检*/
.training_help{background: url('../img/manage/training_help.gif') no-repeat !important;}/*培训帮助*/
.fault_reporting{background: url('../img/manage/fault_reporting.gif') no-repeat !important;}/*故障申告*/
.knowledge_base{background: url('../img/manage/knowledge_base.gif') no-repeat !important;}/*知识库*/
.notification_notices{background: url('../img/manage/notification_notices.gif') no-repeat !important;}/*通知通告*/
.download_manage{background: url('../img/manage/download_manage.gif') no-repeat !important;}/*下载管理*/
.feature_navigator{background: url('../img/manage/feature_navigator.gif') no-repeat !important;}/*功能导航*/
.important_documents{background: url('../img/manage/important_documents.gif') no-repeat !important;}/*重要文件*/
.gun_manage{background: url('../img/manage/gun_manage.gif') no-repeat !important;}/*枪支管理*/
.patrol_punch{background: url('../img/manage/patrol_punch.gif') no-repeat !important;}/*巡逻打卡*/
.SOS_alarm{background: url('../img/manage/SOS_alarm.gif') no-repeat !important;}/*SOS报警*/
.terminal_positioning{background: url('../img/manage/terminal_positioning.gif') no-repeat !important;}/*终端定位*/
.code_number_manage{background: url('../img/manage/code_number_manage.gif') no-repeat !important;}/*码号管理*/
.user_rights{background: url('../img/manage/user_rights.gif') no-repeat !important;}/*用户权限*/
.application_manage{background: url('../img/manage/application_manage.gif') no-repeat !important;}/*应用管理*/
.system_log{background: url('../img/manage/system_log.gif') no-repeat !important;}/*系统日志*/
.terminal_settings{background: url('../img/manage/terminal_settings.gif') no-repeat !important;}/*终端设置*/
.effect_manage{background: url('../img/manage/effect_manage.gif') no-repeat !important;}/*成效管理*/
.integration_manage{background: url('../img/manage/integration_manage.gif') no-repeat !important;}/*积分管理*/
.performance_manage{background: url('../img/manage/performance_manage.gif') no-repeat !important;}/*绩效管理*/