<div class="modal-header">
    <button type="button" ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">
        填写科研管理
    </h5>
</div>
<form class="form-inline w5c-form" role="form" novalidate w5c-form-validate="vm.role.validationOption" name="addLevelForm">
    <div class="modal-body ">
        <div class="static-form-item container-fluid">
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">课题名称：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.subjectName">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">项目来源：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.itemSource">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">起始日期：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.startDate">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">结束日期：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.endDate">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">经费：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.cost">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-4">
                    <label class="control-label">负责人：</label>
                </div>
                <div class="col-sm-8">
                    <input ng-model="vm.formData.subjectHead">
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-sm-2">
                    <label class="control-label">参与人：</label>
                </div>
                <div class="col-sm-10">
                    <input ng-model="vm.formData.subjectParticipant">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-success" type="button" w5c-form-submit="vm.ok()">保存</button>
        <button class="btn btn-sm btn-default" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</form>
