<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_HOME" value="/home/gavin/Dev/logs" />
    <property name="PROJECT_NAME" value="avs"/>
    <property name="MODULE_NAME" value="data"/>
    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{mm:ss} %-5level %logger{36} >>> %msg%n</pattern>
        </encoder>
    </appender>
    <!--每天生成一个日志文件，保存30天的日志文件。-->
    <appender name="LogDayFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${PROJECT_NAME}/${MODULE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 
    <appender name="InfoDayFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFileInfo.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
     -->
    <!--指定logger name为包名或类全名 指定级别 additivity设置是否传递到root logger -->
    <logger name="org.mybatis.spring" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>

    <logger name="org.ibatis" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="org.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="org.ibatis.common.jdbc.ScriptRunner" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="org.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="java.sql.Connection" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="java.sql.Statement" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    
    <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
        <appender-ref ref="LogDayFile"/>
    </logger>
    <!-- 
    <logger name="com.corejava" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="InfoDayFile"/>
    </logger>
     -->
    <!--slf4j2包下的类在ERROR级别时候传递到root logger中-->
    <logger name="slf4j2" level="ERROR" />
    <!--根logger控制-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
