<div ng-controller="MalCaseUpStatisticsController as vm" >
    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-left">
        新增
    </button>

    <button ng-click="tableParams.sorting({})" class="btn btn-danger pull-left">
        修改
    </button>
    <table ng-table="tableParams" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>事件名称</td>
                <td>事件类型</td>
                <td>伤害级别</td>
                <td>事件描述</td>
            </tr>
        </thead>
        <tbody style="background-color: white">
            <tr ng-repeat="ls in vm.lst">
                <td>{{ls.groupNo}}</td>
                <td>{{ls.groupName}}</td>
                <td>{{ls.bedNo}}</td>
                <td>{{ls.remark}}</td>
            </tr>
        </tbody>
    </table>
</div>