#database
jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://192.168.31.210:3306/paasos?useUnicode=true&characterEncoding=UTF-8
jdbc.username=root
jdbc.password=123456
 

#file
file.storage=/data/resource