<div>
  <div class="modal-header">
    <button type="button" ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">
      填写护士信息
    </h5>
  </div>
  <div class="modal-body">
    <uib-tabset active="active">
      <uib-tab index="0" heading="基本信息">
        <form class="form-horizontal comUser-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="userForm">
          <div class="static-form-item container-fluid">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hisCode" class="col-sm-3 control-label">工号：</label>
                <div class="col-sm-9">
                  <input class="form-control input-sm" required ng-model="vm.detail.info.hisCode" id="hisCode" name="hisCode" type="text">
                </div>
              </div>
              <div class="form-group">
                <label for="userName" class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-9">
                  <input class="form-control input-sm" required ng-model="vm.detail.info.userName" id="userName" name="userName" type="text">
                </div>
              </div>
              <div class="form-group">
                <label for="male" class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-9">
                  <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="vm.detail.info.gender" id="male" value="1"> 男
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="vm.detail.info.gender" id="female" value="0"> 女
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="birthday" class="col-sm-3  control-label">出生日期：</label>
                <div class="col-sm-9">
                  <span class="input-group">
                    <input  type="text" id="birthday" name="birthday" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="vm.birthdayOpen" ng-model="vm.detail.info.birthday" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="vm.birthdayOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- 第二列-->
              <div class="form-group">
                <label for="graduationSchool" class="col-sm-3  control-label">毕业学校：</label>
                <div class="col-sm-9">
                  <input type="text" id="graduationSchool" name="nativePlace" ng-model="vm.detail.info.graduationSchool" class="form-control input-sm">
                </div>
              </div>
              <div class="form-group">
                <label for="graduationDate" class="col-sm-3  control-label">毕业时间：</label>
                <div class="col-sm-9">
                  <span class="input-group">
                    <input type="text" id="graduationDate" name="graduationDate" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="vm.graduationDateOpen" ng-model="vm.detail.info.graduationDate" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm" timestamp-to-string>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" ng-click="vm.graduationDateOpen = true">
                      <i class="fa fa-calendar"></i></button>
                    </span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="education" class="col-sm-3  control-label">学历：</label>
                <div class="col-sm-9">
                  <input type="text" id="education" name="education" ng-model="vm.detail.info.education" class="form-control input-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <button w5c-form-submit="vm.save()" class="btn btn-success btn-sm">
                  保存
                </button>
              </div>
            </div>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="1" heading="护士分层分级登记" active="tab.active">
        <form class="form-horizontal form-inline nurseHirReg-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="nurseHirRegForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>层级</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.nurseHirReg track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="beginTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.startDateIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.beginTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.startDateIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="endTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.endDateIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.endTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.endDateIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="hierarchy" type="text" required ng-model="item.hierarchy">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('nurseHirReg', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('nurseHirReg', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('nurseHirReg')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="2" heading="专科护士经历" active="tab.active">
        <form class="form-horizontal form-inline nurseExp-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="nurseExpForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>级别</th>
                <th>所属专科</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.nurseExp track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="beginTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.startDateIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.beginTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.startDateIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="endTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.endDateIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.endTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.endDateIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <select class="form-control input-sm" name="rank" ng-model="item.rank">
                    <option value="{{rank}}" ng-repeat="rank in vm.rankArray">{{rank}}</option>
                  </select>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="juniorCollege" type="text" required ng-model="item.juniorCollege">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('nurseExp', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('nurseExp', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('nurseExp')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="3" heading="学术会议、学习班" active="tab.active">
        <form class="form-horizontal form-inline academic-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="academicForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>会议名称</th>
                <th>会议时间</th>
                <th>会议地点</th>
                <th>主办单位</th>
                <th>学分</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.academic track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="meetingName" type="text" required ng-model="item.meetingName">
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="meetingDate" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.meetingDateIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.meetingDate" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.meetingDateIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="meetingSite" type="text" required ng-model="item.meetingSite">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="hostUnit" type="text" required ng-model="item.hostUnit">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="credit" type="text" required ng-model="item.credit">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('academic', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('academic', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('academic')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="4" heading="奖励情况" active="tab.active">
        <form class="form-horizontal form-inline award-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="awardForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>奖励时间</th>
                <th>奖励原因</th>
                <th>奖励措施</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.award track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="apTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.apTimeIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.apTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.apTimeIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="reason" type="text" required ng-model="item.reason">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="measure" type="text" required ng-model="item.measure">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('awardPunish', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('awardPunish', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('award')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="5" heading="惩罚情况" active="tab.active">
        <form class="form-horizontal form-inline punish-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="punishForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>惩罚时间</th>
                <th>惩罚原因</th>
                <th>惩罚措施</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.punish track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="apTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.apTimeIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.apTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.apTimeIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="reason" type="text" required ng-model="item.reason">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="measure" type="text" required ng-model="item.measure">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('awardPunish', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('awardPunish', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('punish')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="6" heading="个人考核结果" active="tab.active">
        <form class="form-horizontal form-inline perAssessment-form w5c-form" role="form" novalidate w5c-form-validate="vm.validationOption" name="perAssessmentForm">
          <div class="table-wrap">
            <table class="table table-striped table-condensed table-no-border">
              <tr>
                <th>病区</th>
                <th>考核时间</th>
                <th>考核项目</th>
                <th>考核结果</th>
                <th>审核人</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in vm.detail.perAssessment track by $index">
                <td>
                  <select class="form-control input-sm" name="wardCode" ng-model="item.wardCode">
                    <option value="">请选择</option>
                    <option value="{{item.deptCode}}" ng-repeat="item in vm.deptData">{{item.deptName}}</option>
                  </select>
                </td>
                <td>
                  <span class="input-group">
                    <input type="text" name="assessmentTime" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="item.assessmentTimeIsOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm input-date"  required
                    ng-model="item.assessmentTime" timestamp-to-string>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" ng-click="item.assessmentTimeIsOpen = true">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </span>
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="assessmentItem" type="text" required ng-model="item.assessmentItem">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="assessmentResult" type="text" required ng-model="item.assessmentResult">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="auditor" type="text" required ng-model="item.auditor">
                </td>
                <td>
                  <input class="form-control input-sm input-tiny" name="remark" type="text" required ng-model="item.remark">
                </td>
                <td>
                  <button ng-click="vm.saveItem('perAssessment', item)" class="btn btn-sm btn-info">保存</button>
                  <button ng-click="vm.removeItem('perAssessment', item.seqId, $index)" class="btn btn-sm btn-danger">删除</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="container-fluid">
            <button ng-click="vm.addItem('perAssessment')" class="btn btn-primary btn-sm">添加</button>
          </div>
        </form>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
