<div class="col-md-2">
  <div class="panel pull-left dept-wrapper panel-default">
    <div class="panel-heading">
      <i class="fa fa-bars"></i>
      <span>角色列表</span>
    </div>
    <div class="panel-body list">
      <ul class="sublist">
        <li ng-repeat="item in vm.roleData" class="accordion-item" ng-class="{'active': item.roleCode === vm.roleDetail.roleCode}">
          <a ng-click="vm.load(item)" data-role-code="{{item.roleCode}}" class="sublist__item" class="">{{item.roleName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="panel panel-layout panel-default">
    <div class="panel-heading">
      <i class="fa fa-user"></i>
      <span>角色信息</span>
      <div class="pull-right">
        <button ng-click="vm.open()" class="btn btn-default btn-xs">添加角色</button>
      </div>
    </div>
    <div class="panel-body">
      <form data-role-id="{{vm.roleDetail.seqId}}" class="form form-horizontal w5c-form role-edit-form change-user-form" novalidate w5c-form-validate="vm.validationOption" name="roleEditForm">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group">
              <label for="roleCode" class="col-sm-3 control-label">角色编号：</label>
              <div class="col-sm-9">
                <input class="form-control input-sm" ng-model="vm.roleDetail.roleCode" id="roleCode" name="roleCode" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="roleName" class="col-sm-3 control-label">角色名称：</label>
              <div class="col-sm-9">
                <input class="form-control input-sm" required ng-model="vm.roleDetail.roleName" id="roleName" name="roleName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <button class="btn btn-sm btn-success {{vm.loginBtnStatus.state}}" type="button" ng-disabled="" w5c-form-submit="vm.edit()">保存</button>
                <button class="btn btn-sm btn-danger" type="button" ng-disabled="" ng-click="vm.del()">删除</button>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="remark" class="col-sm-3 control-label">描述：</label>
              <div class="col-sm-9">
                <textarea class="form-control input-sm" id="remark" name="remark" ng-model="vm.roleDetail.remark"></textarea>
                <!-- <input type="date" class="form-control input-sm" placeholder="Email"> -->
              </div>
            </div>
          </div>
        </div>

        <div class="navgation-edition container-fluid" ng-if="vm.roleDetail">
          <div class="col-md-5">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <i class="fa fa-bars"></i>
                <span>未添加的功能</span>
              </div>
              <uib-accordion class="list-accordion" close-others="false">
                <uib-accordion-group ng-repeat="item in vm.notHaveList" panel-class="list__title" is-open="item.isOpen">
                  <uib-accordion-heading>
                    <span class="dept-list__text">{{item.funName}}</span>
                    <i class="pull-right fa" ng-class="{'fa-angle-down': item.isOpen, 'fa-angle-right': !item.isOpen}"></i>
                  </uib-accordion-heading>
                  <ul class="dept-sublist">
                    <li ng-repeat="subItem in item.child">
                      <a ng-click="vm.navExchange(item, subItem, $parent.$index, $index, 'add')" class="sublist__item" class="">{{subItem.funName}}</a>
                    </li>
                  </ul>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
          <div class="col-md-2 exchange-icon">
            <div class="text-center">
              <i class="fa fa-exchange">
              </i>
            </div>

          </div>
          <div class="col-md-5">
            <div class="panel panel-success">
              <div class="panel-heading">
                <i class="fa fa-bars"></i>
                <span>已添加的功能</span>
              </div>
              <uib-accordion class="list-accordion" close-others="false">
                <uib-accordion-group ng-repeat="item in vm.hadList" panel-class="list__title" is-open="item.isOpen">
                  <uib-accordion-heading>
                    <span class="dept-list__text">{{item.funName}}</span>
                    <i class="pull-right fa" ng-class="{'fa-angle-down': item.isOpen, 'fa-angle-right': !item.isOpen}"></i>
                  </uib-accordion-heading>
                  <ul class="dept-sublist">
                    <li ng-repeat="subItem in item.child">
                      <a ng-click="vm.navExchange(item, subItem, $parent.$index, $index, 'remove')" class="sublist__item" class="">{{subItem.funName}}</a>
                    </li>
                  </ul>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
