<form class="form-horizontal w5c-form" role="form" novalidate w5c-form-validate="vm.role.validationOption" name="addLevelForm">
  <div class="modal-body">

    <div class="container-fluid">
      <div class="row">
        <ul class="list-group">
          <li ng-class="{'active': vm.formData.measure.meaCode == measure.meaCode}" class="list-group-item" ng-click="vm.fillItem('measure', measure)" ng-repeat="measure in vm.formData.measureList track by $index">
            {{$index + 1}}. {{measure.meaContent}}
            <div class="pull-right">
              <span style="margin-right:1em;">提出人：{{measure.userName}}</span>
              <span style="margin-right:1em;">实施负责人：{{(vm.metaData.userList | filter:measure.headUserCode)[0].userName }}</span>
              <button class="btn btn-xs btn-danger" uib-tooltip="删除" ng-click="vm.removeListItem({index: $index, listName: 'measure', meaCode: measure.meaCode, reportCode: vm.formData.reportCode})"><span class="fa fa-trash"></span></button>
            </div>
          </li>

          <li class="list-group-item">
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">措施实施负责人：</label>
              <div class="col-sm-10">
                <input type="hidden" name="headUserCode" ng-model="vm.formData.headUserCode">
                <select class="form-controll input-sm" name="userName" ng-model="vm.formData.measure.headUserName" ng-change="vm.formData.measure.headUserCode = (vm.metaData.userList | filter:vm.formData.measure.headUserName)[0].userCode">
                  <option ng-repeat="user in vm.metaData.userList" ng-selected="user.userCode == vm.formData.measure.headUserCode" value="{{user.userName}}">{{user.userName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">整改措施：</label>
              <div class="col-sm-10">
                <textarea class="form-control input-sm" cols="50" rows="3" ng-model="vm.formData.measure.meaContent" placeholder="填写整改要求">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <button ng-click="vm.resetForm('measure')" class="btn btn-primary btn-sm">清空</button>
                <button ng-click="vm.saveListItem('measure')" class="btn btn-success btn-sm" ng-disabled="vm.formData.measure.meaContent === '' || !vm.formData.measure.meaContent">保存</button>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</form>
