<form class="form-inline w5c-form" role="form" novalidate w5c-form-validate="vm.role.validationOption" name="addLevelForm">
  <div class="modal-body">

    <div class="container-fluid">
      <div class="row">
        <p>患者信息</p>
        <table class="table table-condensed table-bordered table-striped">
          <tr>
            <th style="width: 5em;"></th>
            <th class="text-center">不良事件发生前</th>
            <th class="text-center">不良事件发生后</th>
          </tr>
          <tr>
            <td>生命体征</td>
            <td>
              <div class="form-group">
                <label for="email" class=" control-label">BP</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.bp_before.value" class="form-control input-sm">
                mmHg
              </div>
              <div class="form-group">
                <label for="email" class=" control-label">P</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.p_before.value" class="form-control input-sm">
                次／分
              </div>
              <br />
              <div class="form-group">
                <label for="email" class=" control-label">R</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.r_before.value" class="form-control input-sm">
                次／分
              </div>
              <div class="form-group">
                <label for="email" class=" control-label">T</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.t_before.value" class="form-control input-sm">
                ℃
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="email" class=" control-label">BP</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.bp_after.value" class="form-control input-sm">
                mmHg
              </div>
              <div class="form-group">
                <label for="email" class=" control-label">P</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.p_after.value" class="form-control input-sm">
                次／分
              </div>
              <br />
              <div class="form-group">
                <label for="email" class=" control-label">R</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.r_after.value" class="form-control input-sm">
                次／分
              </div>
              <div class="form-group">
                <label for="email" class=" control-label">T</label>
                <input type="text" style="width: 5em;" ng-model="vm.formData.reportDetailList.t_after.value" class="form-control input-sm">
                ℃
              </div>
            </td>
          </tr>
          <tr>
            <td>精神状况</td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_clear_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_clear_before.value" type="checkbox"> 神志清
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_directive_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_directive_before.value" type="checkbox"> 有定向力
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_upset_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" tng-model="vm.formData.reportDetailList.psychosis_upset_before.value" type="checkbox"> 不安
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_undiscerned_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_undiscerned_before.value" type="checkbox"> 无定力
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_halfComa_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_halfComa_before.value" type="checkbox"> 半昏迷
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_coma_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_coma_before.value" type="checkbox"> 昏迷
                  </label>
                </div>

                <div class="checkbox">
                  <input type="text" ng-model="vm.formData.reportDetailList.psychosis_else_before.value" class="input-sm form-control">
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_clear_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_clear_after.value" type="checkbox"> 神志清
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_directive_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_directive_after.value" type="checkbox"> 有定向力
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_upset_after.value = '1'" ng-true-value="'1'" ng-false-value="'0'" tng-model="vm.formData.reportDetailList.psychosis_upset_after.value" type="checkbox"> 不安
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_undiscerned_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_undiscerned_after.value" type="checkbox"> 无定力
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_halfComa_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_halfComa_after.value" type="checkbox"> 半昏迷
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.psychosis_coma_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.psychosis_coma_after.value" type="checkbox"> 昏迷
                  </label>
                </div>

                <div class="checkbox">
                  <input type="text" ng-model="vm.formData.reportDetailList.psychosis_else_after.value" class="input-sm form-control">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>运动</td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_self_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.motion_self_before.value"> 独立
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_assist_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.motion_assist_before.value"> 辅助支持
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_limit_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.motion_limit_before.value"> 限制在床/轮椅
                  </label>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_self_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.motion_self_after.value" type="checkbox"> 独立
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_assist_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.motion_assist_after.value" type="checkbox"> 辅助支持
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.motion_limit_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.motion_limit_after.value" type="checkbox"> 限制在床/轮椅
                  </label>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>残疾</td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_none_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.deformity_none_before.value"> 无
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_auditionDown_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.deformity_auditionDown_before.value"> 听力下降
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_costive_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.deformity_costive_before.value"> 行动不便
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_unclearEyed_before.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.deformity_unclearEyed_before.value"> 视力缺损
                  </label>
                </div>

                <div class="checkbox">
                  <input type="text" ng-model="vm.formData.reportDetailList.deformity_else_before.value" class="input-sm form-control">
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_none_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.deformity_none_after.value" type="checkbox"> 无
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_auditionDown_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.deformity_auditionDown_after.value" type="checkbox"> 听力下降
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_costive_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.deformity_costive_after.value" type="checkbox"> 行动不便
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input ng-checked="vm.formData.reportDetailList.deformity_unclearEyed_after.value == '1'" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.formData.reportDetailList.deformity_unclearEyed_after.value" type="checkbox"> 视力缺损
                  </label>
                </div>

                <div class="checkbox">
                  <input type="text" ng-model="vm.formData.reportDetailList.deformity_else_after.value" class="input-sm form-control">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>其他说明</td>
            <td>
              <textarea name="name" ng-model="vm.formData.reportDetailList.elsedeclare_before.value" rows="2" cols="50" class="form-control input-sm"></textarea>
            </td>
            <td>
              <textarea name="name" ng-model="vm.formData.reportDetailList.elsedeclare_after.value" rows="2" cols="50" class="form-control input-sm"></textarea>
            </td>
          </tr>
        </table>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件发生24小时内用药：</label>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_24_medicine_none.value == '1'" ng-model="vm.formData.reportDetailList.malcase_24_medicine_none.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 无
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_24_medicine_diuretic.value == '1'" ng-model="vm.formData.reportDetailList.malcase_24_medicine_diuretic.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 利尿剂
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_24_medicine_nicotine.value == '1'" ng-model="vm.formData.reportDetailList.malcase_24_medicine_nicotine.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 尼古丁／镇静
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_24_medicine_high_handed.value == '1'" ng-model="vm.formData.reportDetailList.malcase_24_medicine_high_handed.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 抗高压
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_24_medicine_depressed.value == '1'" ng-model="vm.formData.reportDetailList.malcase_24_medicine_depressed.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 抗抑郁
            </label>
          </div>

          <div class="checkbox">
            <input type="text" ng-model="vm.formData.reportDetailList.malcase_24_medicine_else.value" class="input-sm form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件发生前采取的特殊预防措施：</label>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_none.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_none.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 无
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_accompany.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_accompany.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 陪伴
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_informed.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_informed.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 已告知
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_guardrail.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_guardrail.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 床边扶栏
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_motionDevice.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_motionDevice.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 动作设备
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_sign.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_sign.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 标识
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_closestool.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_closestool.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 床边便器
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_restlessLimit.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_restlessLimit.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 躁动约束
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_before_measures_riskWarning.value == '1'" ng-model="vm.formData.reportDetailList.malcase_before_measures_riskWarning.value" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 风险预警
            </label>
          </div>

          <div class="checkbox">
            <input type="text" ng-model="vm.formData.reportDetailList.malcase_before_measures_else.value" class="input-sm form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件发生地点：</label>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_ward.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_ward.value"> 病房
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_treatmentRoom.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_treatmentRoom.value"> 治疗室
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_changeRoom.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_changeRoom.value"> 换药室
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_handleRoom.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_handleRoom.value"> 处置室
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_corridor.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_corridor.value"> 走廊
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_washroom.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_washroom.value"> 厕所
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_happen_addr_outDepartment.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_happen_addr_outDepartment.value"> 病区外
            </label>
          </div>

          <div class="checkbox">
            <input type="text" ng-model="vm.formData.reportDetailList.malcase_happen_addr_else.value" class="input-sm form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件发生原因：</label>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_physiological.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_physiological.value"> 病患生理因素
            </label>
          </div>

          （
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_old.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_old.value"> 年老体弱
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_longSick.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_longSick.value"> 久病不愈
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_worsen.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_worsen.value"> 病情恶化
            </label>
          </div>
          ）

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_mentality.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_mentality.value"> 病患心理因素
            </label>
          </div>

          （
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_badMind.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_badMind.value"> 情绪不稳
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_lostMind.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_lostMind.value"> 精神失常
            </label>
          </div>
          ）

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_artificia.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_artificia.value"> 人为因素
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_stuffStoppage.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_stuffStoppage.value"> 医疗材料故障
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_instrumentStoppage.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_instrumentStoppage.value"> 仪器故障
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_deviceStoppage.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_deviceStoppage.value"> 设备故障
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_yard.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_yard.value"> 场地
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_environment.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_environment.value"> 环境因素
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_winebowl.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_winebowl.value"> 酒瘾
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_drugster.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_drugster.value"> 毒瘾
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_aboutSystem.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_aboutSystem.value"> 与制度有关
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="vm.formData.reportDetailList.malcase_reason_aboutFlow.value == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-model="vm.formData.reportDetailList.malcase_reason_aboutFlow.value"> 与流程有关
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input ng-checked="" ng-true-value="'1'" ng-false-value="'0'" type="checkbox"> 其他：
            </label>
            <input type="text" class="input-sm form-control" ng-model="vm.formData.reportDetailList.malcase_reason_else.value">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件目击：</label>
          <div class="checkbox">
            <input type="text" ng-model="vm.formData.reportDetailList.malcase_witness.value" class="input-sm form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="name" class="control-label">不良事件发生的事实（包括不良事件发生经过，发生后治疗，发生后护理及发生后检查结果等情况，由当事人或发现者填写）：</label>
          <textarea name="name" ng-model="vm.formData.reportDetailList.malcase_truth.value" rows="3" cols="100" class="form-control input-sm"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-success" type="button" w5c-form-submit="vm.saveReportDetail()">保存</button>
    <button class="btn btn-sm btn-default" type="button" ng-click="vm.cancel()">取消</button>
  </div>
</form>
