<!DOCTYPE html>
<html>
<head>
#docHead()
<style type="text/css">
.doc-table th, .doc-table td {
	padding: 2px;
}
.doc-table td {
/* 	width: 10px; */
	height: 25px;
}
.doc-table tbody td:nth-child(1) {
	word-break: break-word;
}
.doc-table tbody td:nth-child(23) {
	text-align: left;
	word-break: break-all;
}
@media print {
	@page {
		size: landscape;
		margin-left: 20mm;
/* 		margin-bottom: 30px; */
	}
}
</style>
</head>
<body class="doc-view">
#docViewToolbar()
<div class="paper-container">
<div class="paper paper-landscape">
	<div class="paper-content">
		#liverNurse()
		<div class="doc-content">
			<table class="doc-table">
				<thead>
			        <tr>
			            <th rowspan="2" style="width: 35px;">日期</th>
			            <th rowspan="2" style="width: 35px;">时间</th>
			            <th rowspan="2" style="width:30px;">T<br>℃<br>X</th>
			            <th rowspan="2" style="width:25px;">P<br>次/分</th>
			            <th rowspan="2" style="width:25px;">R<br>次/分</th>
			            <th rowspan="2" style="width:50px;">BP<br>(S/D)<br>mmHg</th>
			            <th rowspan="2" style="width: 35px;">SpO<sub>2</sub><br>%</th>
			            <th rowspan="2" style="width:20px;">意识</th>
			        	<th colspan="2">入量</th>
			        	<th colspan="3">出量</th>
			            <th rowspan="2" style="width:30px;">精神状态</th>
			            <th rowspan="2" style="width:30px;">食欲</th>
			            <th rowspan="2" style="width:30px;">消化道症状</th>
			            <th rowspan="2" style="width:30px;">出血倾向</th>
			            <th rowspan="2" style="width:25px;">皮肤情况</th>
			            <th rowspan="2" style="width:30px;">管道</th>
			            <th rowspan="2" style="width:30px;">$!{doc.hold1}</textarea></th>
			            <th rowspan="2" style="width:30px;">$!{doc.hold2}</textarea></th>
			            <th rowspan="2" style="width:30px;">$!{doc.hold3}</textarea></th>
			            <th rowspan="2" style="width:200px;">病情、治疗及护理记录</th>
			            <th rowspan="2" style="width:50px;">签名</th>
			        </tr>
			        <tr>
			            <th style="width:50px;">名称</th>
			            <th style="width:25px;">ml</th>
			            <th style="width:50px;">名称</th>
			            <th style="width:25px;">ml</th>
			            <th style="width:30px;">性状</th>
			        </tr>
			    </thead>
				<tbody>
				</tbody>
			</table>
		</div>
		#liverNurseComment()
	</div>
	#pageFoot()
</div>
</div>
<script type="text/javascript">
function getRowDatas(row, isFirstRow, lastDate) {
	return [
		getDate2(row['date'], isFirstRow, lastDate),
		getTime(row['date']),
		row['temperature'],
		row['pulse'],
		row['breath'],
		row['bloodPressure'],
		row['bloodOxygen'],
		row['awareness'],
		row['inName'],
		row['inAmount'],
		row['outName'],
		row['outAmount'],
		row['outQuale'],
		row['mentalState'],
		row['appetite'],
		row['enteronSymptom'],
		row['blood'],
		row['skin'],
		row['pipe'],
		row['hold1'],
		row['hold2'],
		row['hold3'],
		row['record'],
		row['sign']
	];
}
$(function() {
	fillTable('#url("/doc/liver/nurse/view/datas")', '$!{patient.cureNo}', 24, getRowDatas, true);
});
</script>
</body>
</html>