<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmazing.openbridge.alarm.dao.HostMapper">

	<select id="Page" resultType="java.util.HashMap">
		select id, hostname, ip, agent_version, plugin_version, maintain_begin, maintain_end,update_at
		from host
		<where> 
			<if test="keyword != null">
				AND (hostname like concat(concat('%',#{keyword}),'%') or ip like concat(concat('%',#{keyword}),'%'))
			</if>
		</where>
		order by update_at desc limit #{start},#{size}
	</select>
	
	<select id="PageRecordCount" resultType="java.lang.Integer">
		select 
			ifnull(count(h.id),0) as ccc
		from host h
		<where> 
			<if test="keyword != null">
				AND (hostname like concat(concat('%',#{keyword}),'%') or ip like concat(concat('%',#{keyword}),'%'))
			</if>
		</where>
	</select>
</mapper>