<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>设备监测器 - 联新</title>
    <link rel="stylesheet" type="text/css" href="#url('/resources/css/public.css')"/>
    <link rel="stylesheet" type="text/css" href="#url('/resources/css/patientGlance.css')"/>
    <link rel="stylesheet" type="text/css" href="#url('/resources/css/transfusionMonitor.css')"/>
    <link rel="stylesheet" type="text/css" href="#url('/resources/js/easyui/themes/default/easyui.css')"/>
    <script type="text/javascript">
        var currCheckedPatientId = null;
    </script>
<body>

<!--头部 start-->
<div id="header" class="header" style="height:70px;">
    <div class="top">
        <div class="clearfix center">
            <span class="fl bg"></span>
            <span class="color font date">$!today</span><span class="font">$!deptName，</span>

            <div class="font account">
                <div id="user"><em>$!user.user.name</em><span></span></div>
                <input type="hidden" id="deptId" value="$!deptCode"/>
                <input type="hidden" id="nurseId" value="$!user.userId"/>

                <div class="user-tools hide" style="height:62px;">
                    <a href="javascript:void(0)" id="quit"><i></i>退出登录</a>
                    <!--                   <a href="javascript:void(0)" id="changeKs"><i></i>切换科室</a>-->
                    <a href="javascript:void(0)" id="changeAccount"><i></i>切换账户</a>
                    <!--                    <a href="javascript:void(0)" id="modifyPsd"><i></i>修改密码</a> -->
                </div>
            </div>
            <img id="logo" src="#url('/resources/img/logo.png')" class="fr" alt="LACHESIS联新设备管理"/>
        </div>
    </div>
    <div class="bottom">
        <div class="center">
            <div class="coverBlock"></div>
            <div class="hosTitle f_yahei">
                $!hospitalName
            </div>
            #parse("nur/menu.vm")
        </div>
    </div>
</div>
<!--头部 end-->

<!--主体 start-->
<div class="wrapper-body">
    <div class="main-body center">
        <div class="main-body center">
            <div class="panel-sub panel-sub-title clearfix">
                <div class="fl subTitle">
                    <a href="javascript:;" class="on">设备检测器</a>
                    <a href="javascript:;">工作量统计</a>
                </div>
                <div class="btn-box fr">
                    <div class="time-box fl mgr10">
                        <select class="" name="a" id="keytype-select">
                            <option selected="selected" value="MA">Mac地址</option>
                            <option value="DC">科室</option>
                            <option value="DN">设备名称</option>
                            <option value="DS">设备号</option>
                        </select>
                        <input type="text" id="keyword" placeholder="输入关键字查询"/>
                    </div>

                    <a href="javascript:;" id="search" class="btn">查找</a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="btn-box fr">
                        <a href="javascript:;" id="addNewDeviceBtn" class="btn">新增设备</a>
                        <a href="javascript:;" class="btn">Excel导入</a>
                        <a href="javascript:;" class="btn">Excel导出</a>
                    </div>
                </div>
            </div>
            <!--设备列表 start-->
            <div class="device-table">
                <table id="device-data-grid" class="easyui-datagrid" iconCls="icon-save">
                    <thead>
                    <tr>
                        <th field="deviceName">设备名称</th>
                        <th field="macAddress">型号</th>
                        <th field="deviceSn">设备号</th>
                        <th field="deptCode">所属科室</th>
                        <th field="name5">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--设备列表 end-->
            <!-- 新增设备对话框 start-->
            <div class="easyui-dialog" id="addNewDevice">
                <div style="padding:15px;">
                    <form id="addDeviceForm">
                        <input type="hidden" name="deviceModel" value="Ladrip"/>
                        <input type="hidden" name="bindType" value="DB"/>

                        <div id="addDev-wrapper" class="dlg-panel">
                            <p>
                                <span class="dlg-title">设备名称：</span>
                                <input type="text" name="deviceName" class="easyui-validatebox" data-options="required:true" placeholder="请输入设备名称"/>
                            </p>

                            <p>
                                <span class="dlg-title">选择科室：</span>
                                <select name="deptName" id="departmentList" class="easyui-validatebox" data-options="required:true">
                                    <option selected="selected" value="">--请选择--</option>
                                </select>
                                <input type="hidden" name="deptCode" value=""/>
                            </p>
                            <p>
                                <span class="dlg-title">床号：</span>
                                <select name="bedCode" id="bedList" class="easyui-validatebox" data-options="required:true">
                                    <option selected="selected" value="">--请选择--</option>
                                </select>
                            </p>
                            <p>
                                <span class="dlg-title">mac地址：</span>
                                <input type="text" name="macAddress" data-options="required:true,validType:'minLength[17]'"
                                       class="easyui-validatebox" placeholder="请输入设备的mac地址"/>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 新增设备对话框 end -->

            <!-- 设备警告设置对话框 start-->
            <div class="easyui-dialog" id="deviceSetting">
                <div style="padding:15px;">
                    <form id="setDeviceForm">
                        <div id="setting-wrapper" class="dlg-panel">
                        </div>
                    </form>
                </div>
            </div>
            <!-- 设备警告设置对话框 end -->
            <!-- 删除警告 start-->
            <div class="easyui-dialog" id="delConfirm">
                <div style="padding:15px;">
                    <p>
                        真的要删除 <span id="confirm-dev-name"></span> 吗？
                    </p>
                </div>
            </div>
            <!-- 删除警告 end -->
        </div>
    </div>
</div>
<!--主体 end-->
<script type="text/javascript" src="#url('/resources/js/map.js?1472534366474')"></script>
<script type="text/javascript" src="#url('/resources/js/dictionary.js?1472534366474')" charset="utf-8"></script>
<script type="text/javascript" src="#url('/resources/js/main/main.js?1472534366474')" charset="utf-8"></script>
<script type="text/javascript" src="#url('/resources/js/nur/patientGlance.js?1472534366474')" charset="utf-8"></script>
<script type="text/javascript" src="#url('/resources/js/nur/deviceManager.js?1472534366474')" charset="utf-8"></script>
<script type="text/javascript" src="#url('/resources/js/easyui/plugins/jquery.datagrid-detailview.js?1472534366474')"
        charset="utf-8"></script>
</body>
</html>