<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印腕带</title>
<link rel="stylesheet" type="text/css" href="#url('/resources/css/labelBarcode_zhizhong.css')" />
<script type="text/javascript" src="#url('/resources/js/nur/labelBarcode.js?1472534366476')" charset="utf-8"></script>
<script type="text/javascript" src="#url('/resources/js/handlebars-v3.0.3.js?1472534366476')"></script>
<script type="text/javascript" src="#url('/resources/js/jquery.qrcode-0.12.0.min.js?1472534366476')"></script>
<script type="text/javascript">
    var _patientId = '$!id';
</script>
<style type="text/css">
  #overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

.datagrid-row-selected {
    background: #87CEFA !important;
}
</style>
</head>
<body id="patCrisValueLayout" class="easyui-layout">
    <iframe id="printFrame" src="" style="display:none;width:170px;height:270px;"></iframe>
    <div id="overlay"></div>
    <div data-options="region:'north'" style="height: 39px; overflow: hidden;border-bottom:none;" >
        <div class="top-tools">
            <div class="top-tools-box">
                <div class="top-title">
                    <span>打印瓶签</span>
                </div>
                <div class="fl" style="position:relative;margin-left:20px;font-size:15px;overflow:hidden;white-space: nowrap;">
                	<input id="printSelect" type="checkbox" value="checkbox" checked="checked"  onclick="searchOrder();"/>未打印
                    <p id="nurPatientInfo" class="nurPatientInfo"></p>
                    <div id="info-cover" class="info-cover">&lt;</div>
                </div> 
                <input type="hidden" id="pid" value = "$!id" />
                <div class="btn-box fr mgr10" >
                  <div class="tool-widget">

                    <div class="widget-wrap" id="orderDateWrap">
                      <div class="date-widget">
                        <input id="startDate" name="startDate" class="Wdate"} onclick="WdatePicker({onpicked:function(dq){searchOrder();},readOnly:true,dateFmt:'yyyy-MM-dd'})" readonly="readonly" style="width: 90px;">
                      </div>
                    </div>
                    

                    <div class="widget-wrap">
                      <div class="select-widget">
                        <select id="select1" onchange="orderTypeFunc(this.value)">
                          <option value="ALL">全部</option>
                          <option value="LZ">临嘱</option>
                          <option value="CZ">长嘱</option>
                        </select>
                      </div>
                    </div>

                    <div class="widget-wrap">
                      <div class="select-widget">
                        <select id="select2" onchange="orderExecTypeFunc(this.value)">
                          <option value="">全部分类</option>
                            <option value="INFUSION">输液</option>
                            <option value="INJECT">注射</option>
                            <option value="ORAL">口服药</option>
                            <option value="UZ">治疗</option>
                        </select>
                      </div>
                    </div>
                    <!--<div class="widget-wrap">
                      <div class="select-widget">
                        <select id="select3" onchange="orderPrintFunc(this.value)">
                          <option value="0">未打印</option>
                          <option value="1">已打印</option>
                        </select>
                      </div>
                    </div>-->
                    <div class="widget-wrap">
                      <div class="btn-widget">
                        <button id="searchOrder" onclick="searchOrder();">查询</button>
                      </div>
                    </div>
                    <div class="widget-wrap">
                      <div class="btn-widget">
                        <button id="printLabelBarcode">打印瓶签</button>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wristBarcodeContent" data-options="region:'center'" style="overflow: hidden;">
        <div id="printPreviewList" style="display:none;position:absolute;bottom:0;left:0;width:500px;height:300px;z-index:999;background:red;"></div>
        <img id="qrImg" src="" style="display:none;">
        <table id="labelBarcodeTable" class="easyui-datagrid" data-options="fit:true,fitColumns:true"></table>

        <img id="qrImg" src="" style="display:none;">
        <div id="transCardList" style="position:absolute;display:none;left:0px;top:0px;width:400px;height:400px;background-color:#fff;"></div>
    </div>

    <script id="transCardTpl" type="text/x-handlebars-template">
    {{#data}} 
    <!--南方医院 <div class="transfusion-verital" >
      <div class="header">
		   <div class="p-info" >
		   	  <div class="base-info">
		   	  	<span class="bednum">{{bednum}}</span>
              	<span class="name">{{name}}</span>
              	<span class="inHospNo">{{inHospNo}}</span>
              	<span class="date">{{date}}</span>
              </div>
              <div style="margin-top:20px;">
              	<span>摆药:</span>
              	<span style="margin-left:30px;">核对:</span>
              	<span style="margin-left:30px;">配药:</span>
              </div>
            </div>
            <div class="barcode-info">
	            <div class="qr" >
	       		   <img src="{{qr}}">
	      		</div>
	      		 <div class="order-info">
		            <span >{{orderType}}</span>
		          </div>  
	      	</div>
      </div>
      -->
      
      <div class="transfusion-verital" >
      <div class="header">
      	   <div class="barcode-info">
	            <div class="qr" >
	       		   <img src="{{qr}}">
	      		</div>
	      	</div>
		   <div class="p-info" >
		   	  <div class="base-info">
		   	  	<div>
		   	  		<div class="bednum">{{bednum}}床</div>
			   	  	<div class="name">{{name}}</div>
			   	  	<div class="sex">{{sex}}</div>
              	</div>
              	<div>
              		<div class="inHospNo">{{inHospNo}}</div>
              		<div class="deptName">{{deptName}}</div>
              	</div>
              	<div>
              		<div class="deliverFreq">{{deliverFreq}}</div>
              		<div class="usageName">.{{usageName}}</div>
              		<div class="date">{{date}}<!-- {{time}}--></div>
              	<div>
              </div>
           </div>
            </div>
      </div>
      
      <div>
      	<hr class="hr" >
      </div>
      
      <div class="body">
        <div class="drug-list">
          <ul>
          {{#drugList}}
            <li>
              <span class="standard">{{standard}}</span>
              <span class="drugname">{{drugname}}</span>
            </li>
          {{/drugList}}
          </ul>
        </div>
      </div>
    </div>
    {{/data}}
  </script>
</body>
</html>