<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
<link rel="stylesheet" type="text/css" href="#url('/resources/css/public.css')" />
<link rel="stylesheet" type="text/css" href="#url('/resources/css/showBodyTempSheet.css')" />
<script type="text/javascript" src="#url('/resources/js/d3.min.js?1472534366478')"></script>
<script type="text/javascript" src="#url('/resources/js/nur/showBodyTempSheet.js?1472534366478')"></script>
<script type="text/javascript">
</script>
</head>
<body>
	<div class="wrapper f_yahei">
		<div class="insp-top top-tools" style="height:40px">
		    <div class="top-tools-box">
                <div class="top-title">
                    <span>体温单记录</span>
                </div>
                <div class="fl" style="position:relative;margin-left:20px;font-size:13px;overflow:hidden;white-space: nowrap;">
                  <p id="nurPatientInfo" class="nurPatientInfo"></p>
                  <div id="info-cover" class="info-cover">&lt;</div>
                </div>  
		    	<div class="btn-box fr mgr10" >
                    <div class="time-box fl">
                        <input id="startDate" name="startDate" class="Wdate"  onclick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd'})" readonly="readonly" style="width: 90px;">
                        &nbsp;
                    </div>
                   <!--  <input type="button" value="删除"> -->
                    <input type="button" value="查询" onclick="getPatBedId('',true)">
                    <input type="button" value="查看体温单" onclick="showTempSheet()">
                    <input type="button" value="更新" onclick="updateInfo()">
                    <input type="button" value="删除" onclick="deleteInfo()">
                    
                    <!-- <input type="button" value="转抄"> -->
                </div>
		        <!-- <div class="top-title">
		            <span>入院</span>
		        </div>
		        <div class="btn-text fl">
		        	<span class="btn-area">手术（今日）<i></i></span>
		        </div>
		        <div class="btn-text fl">
		        	<span class="btn-area">出院（今日）<i></i></span>
		        </div> -->
		    </div>
		</div>
		<div class="content">
			<table id="info-tab" data-options=""></table>
		</div>
	</div>
    <div id="box1" class="easyui-dialog" data-options="closed:true">
        <div style="padding:15px;">
            <div class="dlg-panel">
                <p>
                    <span class="dlg-title">药物名：</span>
                    <input type="text" id="drugName" size="16"/>
                </p>
                <p>
                    <span class="dlg-title">皮试结果：</span>
                    <select id="testResult">
                        <option >
                            阴性
                        </option>
                        <option >
                            阳性
                        </option>
                    </select>
                </p>
            </div>
        </div>
    </div>
    <div id="box2" class="easyui-dialog" data-options="closed:true">
        <div style="padding:10px 15px;">
            <div class="dlg-panel">
                <p>
                    <span class="dlg-title">
                        事件：
                    </span>
                    <select id="problem">
                        <option value ="">空</option>
                        <option value ="ry">入院</option>
                        <option value ="cy">出院</option>
                        <option value ="zr">转入</option>
                        <option value ="zc">转出</option>
                        <option value ="ss">手术</option>
                        <option value ="fm">分娩</option>
                        <option value ="cs">出生</option>
                        <option value ="bw">病危</option>
                        <option value ="bz">病重</option>
                        <option value ="sw">死亡</option>
                    </select>
                </p>
                <p>
                    <span class="dlg-title">
                        时间：
                    </span>
                    <input class="Wdate" onclick="WdatePicker({readOnly:true,dateFmt:'HH:mm:ss'})" type="text" id="recordDate" size="16" style="margin-top:0px;width:95px;"/>
                </p>
            </div>
        </div>
    </div>
    <div id="showTempSheet" class="easyui-dialog" data-options="closed:true,modal:true" title="体温单查看" style="width:800px;height:500px;">
        <div id="showTempSheetBox">
            <div id="showTempSheetBtn">
                <div style="margin-left:10px;">
                    <input id="prevBtn" type="button" value="<" onclick="prevWeekSheetPdf()">
                    <input type="text" id="currentWeek" value="1" style="border:none;background:#e0e4e8;width:40px;margin:0;text-align: center;" />
                    <input id="nextBtn" type="button" value=">" onclick="nextWeekSheetPdf()">
                </div>
            </div>
        </div>
    </div>
    <div id="xx" style="visibility: hidden;">
          
    </div>
</body>
</html>