USE [MNIS_QM]
GO
/****** Object:  Table [dbo].[QUALITY_MODEL_DETAIL]    Script Date: 08/24/2016 20:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUALITY_MODEL_DETAIL](
	[MODEL_ID] [bigint] NOT NULL,
	[DETAIL_ID] [bigint] NOT NULL
) ON [PRIMARY]
GO
