USE [MNIS_QM]
GO
/****** Object:  Table [dbo].[QUALITY_MODEL]    Script Date: 08/25/2016 18:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUALITY_MODEL](
	[SEQ_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODEL_NAME] [varchar](100) NOT NULL,
	[IS_USED] [char](1) NOT NULL,
	[TOTAL_SCORE] [int] NULL,
	[CREATE_TIME] [datetime] NOT NULL,
	[UPDATE_TIME] [datetime] NOT NULL,
	[CREATE_PERSON] [varchar](100) NOT NULL,
	[UPDATE_PERSON] [varchar](100) NOT NULL,
	[STATUS] [varchar](2) NULL,
 CONSTRAINT [PK_QUALITY_MODEL] PRIMARY KEY CLUSTERED 
(
	[SEQ_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
