<div class="statistics-wrapper">
  <div class="chart-wrapper">
    <div class="row filter">
      <div class="center col-md-6 row">
        <div class="col-md-4">
          <select class="form-control" ng-model="vm.filter.deptCode">
            <option value="">全部</option>
            <option ng-repeat="item in vm.deptData.belongedDepts" value="{{item.deptCode}}">{{item.deptName}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="vm.filter.type">
            <option value="">全部</option>
            <option value="0">工作环境调查表</option>
            <option value="1">工作氛围调查表</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" id="date" name="date" uib-datepicker-popup datepicker-options="vm.dateOptions" is-open="vm.pickerOpen" ng-model="vm.filter.date" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm" common-picker="month">
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-default" ng-click="vm.pickerOpen = true">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="row in vm.lst">
            <td data-title="'项目'">{{row.key}}</td>
            <td data-title="'分值'">{{row.value}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <div class="echarts-wrap" echarts="vm.sat.identity" echarts-dimension="vm.sat.dimension" config="vm.sat.config"></div>
      </div>
    </div>
  </div>
</div>
