<!-- begin 质量检查问题处理 -->
<div class="wrapper quality-check-wrapper padding-content">
  <uib-tabset active="active">
    <uib-tab index="0" heading="问题处理">
      <div class="panel panel-layout panel-default">
        <!-- <div class="panel-heading">
          <i class="fa fa-tasks"></i>
          <span>质量检查问题处理</span>
          <div class="pull-right">
            <button class="btn btn-xs btn-default" ng-click="vm.add()">新增问题</button>
          </div>
        </div> -->
        <div class="tool-wrapper container-fluid form-inline">
          <div class="filter-item">
            <label for="type">类型：</label>
            <select class="input-sm" id="type" ng-model="vm.queryParams.type">
              <option value="">全部</option>
            </select>
          </div>
          <div class="filter-item">
            <label >月份： </label>
            <span class="input-group">
              <input ng-model="vm.queryParams.month" type="text" id="month" name="month" required uib-datepicker-popup datepicker-options="vm.options.month" on-open-focus="true" is-open="vm.monthOpen" close-text="关闭" current-text="今天" clear-text="清除" class="form-control input-sm" common-picker="month" readonly>

              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" ng-click="vm.monthOpen = true">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </span>
          </div>
          <div class="filter-item">
              <label for="area">科室：</label>
              <select class="input-sm" id="area" ng-model="vm.queryParams.deptCode">
                <option value="">全部</option>
                <option ng-repeat="item in vm.deptData" value="{{item.deptCode}}">{{item.deptName}}</option>
              </select>
          </div>
          <div class="filter-item">
            <button class="btn btn-sm btn-primary" ng-click="vm.load.func()">查询</button>
          </div>
          <div class="pull-right">
            <button class="btn btn-sm btn-primary" ng-click="vm.add()">新增问题</button>
          </div>
        </div>
        <div class="panel-body">
          <!-- <form class="form-inline pull-right">
            <div class="form-group quality-filter">
              <label for="month" class="control-label">月份&nbsp;</label>
              <select class="form-control input-sm" id="month">
                <option>1</option>
              </select>
            </div>
            <div class="form-group quality-filter">
              <label for="type" class="control-label">类型&nbsp;</label>
              <select class="form-control input-sm" id="type">
                <option value="">全部</option>
              </select>
            </div>
            <div class="form-group quality-filter">
                <label for="area" class="control-label">病区&nbsp;</label>
                <select class="form-control input-sm" id="area"></select>
            </div>
            <div class="form-group quality-filter">
              <button class="btn btn-xs btn-default">查询</button>
            </div>
          </form> -->

          <table print-table="vm.list" st-table="vm.list" st-safe-src="rowCollection" class="table table-hover table-condensed table-bordered">
            <thead>
              <tr class="header-export">
                <th>检查日期</th>
                <th>检查病区</th>
                <th>存在问题</th>
                <th>问题分析</th>
                <th>整改要求</th>
                <th>整改措施</th>
                <th>整改效果评估</th>
                <th>检查类型</th>
                <th>检查表</th>

                <th print-remove>操作</th>
              </tr>
            </thead>
            <tbody ng-repeat="row in vm.list">
              <tr class="row-{{$index}}">
                <td>
                  {{ row.taskTime }}
                </td>
                <td>
                  {{ row.deptName }}
                </td>
                <td>
                  {{ row.issueContent }}
                </td>
                <td>
                  {{ row.reasonAnalysis }}
                </td>
                <td>
                  {{ row.resDescribe }}
                </td>
                <td>
                  {{ row.resPlan }}
                </td>
                <td>
                  {{ row.evaluation }}
                </td>
                <td>
                  {{ row.type }}
                </td>
                <td>
                  {{ row.formName }}
                </td>
                <td>
                  <button class="btn btn-default btn-xs"
                          ng-click="vm.edit(row)"
                          uib-tooltip="修改">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <button class="btn btn-danger btn-xs"
                          ng-click="vm.del(row.seqId)"
                          uib-tooltip="删除">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <none-data-info list="vm.list"></none-data-info>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<!-- end 质量检查问题处理 -->
