.login-wrapper {
  height: 100%;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  .header, .footer {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    img {
      position: relative;
      top: 20px;
    }
  }

  .footer {
    text-align: center;
    line-height: 18px;
    padding: 12px 0;
    font-size: 12px;
  }

  .content {
    position: relative;
    box-flex: 1;
    -webkit-box-flex: 1;
    background-image: url('../../assets/images/background.png');
    background-size: 100%;
    .form-box {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 360px;
      width: 400px;
      padding: 15px 50px 50px 50px;
      margin-top: -180px;
      margin-left: -200px;
      background-color: white;
      .form-title {
        padding: 13px 0;
        line-height: 24px;
        font-size: 16px;
        color: #666666;
        border-bottom: 1px solid #b3b3b3;
      }
      .form-unit {
        padding: 24px 0;
        font-size: 0;
        label {
          display: inline-block;
          width: 60px;
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }
        .form-input {
          position: relative;
          display: inline-block;
          width: 240px;
          input {
            box-sizing: border-box;
            padding: 0 4px;
            height: 40px;
            width: 100%;
            font-size: 14px;
            background-color: white;
            border: 1px solid #aeadad;
          }
          .reset {
            position: absolute;
            right: 0;
            top: 40px;
            height: 24px;
            color: #3473c0;
            font-size: 14px;
            border: none;
            background-color: transparent;
            text-decoration: underline;
            cursor: pointer;
          }
          .w5c-error {
            position: absolute;
            top: 40px;
            left: 0;
            color: #da2a44;
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
      .form-btn {
        margin-top: 30px;
        input {
          width: 100%;
          height: 40px;
          color: white;
          font-size: 14px;
          background-color: #3473c0;
          border: none;
          &:hover {
            background-color: #2d63a6;
          }
        }
      }
    }
  }
}