.app-inner { padding-bottom: 30px; width: 830px; }

.app-preview { position: relative; float: left; width: 350px; }
.app-preview .app-header { height: 71px; background: url(../images/wap/phone_head.png) no-repeat top left; }
.app-preview .app-entry { position: relative; padding: 0 13px; min-height: 100px; border: 1px solid #e5e5e5; border-top: 0; }
.app-preview .app-entry .app-content { border: 1px solid #ddd; border-bottom: 0; background-color: #efeff4; }

.app-preview .app-config { padding-top: 20px; height: 64px; background: url(../images/wap/titlebar.png) no-repeat center; }
.app-preview .app-config .app-field h1 { margin: 0; color: #fff; height: 44px; background: #0068b7 url(../images/wap/titlebar.png) no-repeat center bottom; }

.app-field { position: relative; }
.app-fields .app-field { background-color: #efeff4; }
.app-field .demo { position: relative; width: 100%; min-height: 20px; }
.app-field .shade { position: absolute; left: 0; bottom: 0; height: 100%; width: 100%; }
.app-field .actions { display: none; position: absolute; left: 0; bottom: 0; height: 100%; width: 100%; border: 2px dashed #1380cb; }
.app-field .actions .actions-wrap { position: absolute; right: 0; bottom: 0; }
.app-field .actions .actions-wrap .action { display: inline-block; margin-left: 5px; color: #fff; padding: 0 5px; background-color: rgba(0,0,0,.4); }

.app-field-region { position: relative; }
.app-field-region .app-field { cursor: move; }
.app-field-region .app-field:hover .actions,
.app-field-region .app-field.editing .actions { display: inline-block; }

.app-add-region { position: fixed; bottom: 48px; margin-left: -15px; width: 350px; background-color: #ccc; z-index: 8; }
.app-add-region h3 { margin: 0 15px 10px; text-align: center; line-height: 40px; color: #103d5a; border-bottom: 1px dashed #fff; }
.app-add-region ul li { display: table; float: left; margin: 0 0 5px 5px; background-color: #fff; }
.app-add-region ul li a { display: table-cell; width: 60px; height: 40px; text-align: center; color: #1380cb; vertical-align: middle; border: 1px solid #aaa; cursor: pointer; }

.app-sidebar { position: relative; float: left; margin-top: 91px; width: 480px; }
.app-sidebar .sidebar-inner { position: relative; min-height: 80px; background: #f9f9f9; border-radius: 5px; }
.app-sidebar .arrow { position: absolute; left: -10px; width: 10px; height: 20px; background: url(../images/wap/icon_arrow.png) 0 0; }
.app-sidebar .sidebar-content { padding: 5px 10px; }

.app-actions { position: fixed; bottom: 0; left: 0; right: 0; padding: 7px; height: 48px; background-color: #e9f7fc; text-align: center; border: 1px solid #9de3ff; z-index: 9; }
.app-actions input { font-size: 12px !important; }

.control-group { margin-bottom: 10px; line-height: 26px; }
.control-group .control-label { float: left; display: block; width: 74px; text-align: right; }
.control-group .control-label .required { margin-right: 3px; color: #f00; font-size: 16px; vertical-align: middle; }
.control-group .controls { position: relative; padding-left: 80px; }
.control-group .controls input { margin-right: 5px; font-size: 12px; }
.control-group .controls input[type=text] { height: 30px; }
.control-group .controls .button, .control-group .controls .input { padding: 2px 10px; height: 30px; line-height: 24px; }
.control-group .controls .input { display: inline-block; margin-bottom: 0; float: initial; width: 320px; }
.control-group .controls .input[type=color] { width: 220px; }
.control-group .controls .input:focus { border-color: #1380cb; background-color: #fff; }
.control-group .controls .list { display: inline-block; margin-right: 10px; cursor: pointer; }
.control-group .controls .has-selected { padding: 2px 4px; color: #fff; background-color: #1380cb; border-radius: 3px; font-weight: normal; font-size: 12px; text-shadow: 0 -1px 0 rgba(0,0,0,.25); }
.control-group .controls .control-loads .pic-center { float: left; margin-right: 10px; width: 60px; height: 60px; }
.control-group .tips-label { margin-top: 2px; color: #999; line-height: 18px; }
.control-group .file-box { border-radius: 3px; }
.control-group .file-box input { margin: 0; height: 24px; }
.control-group .file-box .file-txt { margin: 0; border: 0; width: 187px; }
.control-group .file-box .file { width: 100%; cursor: pointer; }
.control-group .file-box .file-btn { padding: 0; border-radius: 0; border: 0; border-left: 1px solid #ccc; }

.control-group .right-column .input { width: 180px; }
.control-group .right-column .btn, .control-group .right-column .right-box { display: inline-block; max-width: 145px; line-height: 16px; }
.control-group .right-column .btn { background-color: #f9f9f9; }

.control-group.error .input { border-color: #E66060; color: #E66060; }
.control-group.error .input:focus { border-color: #E66060; }
.control-group.error .error-message { padding-top: 3px; color: #E66060; line-height: normal; }

.dropdown { position: relative; display: inline-block; }
.dropdown.hover .dropdown-menu, .dropdown:hover .dropdown-menu { display: block; }
.dropdown .dropdown-menu { display: none; position: absolute; left: 0; top: 24px; min-width: 120px; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0 3px 7px rgba(0,0,0,.2); background: rgba(255,255,255,0.9); z-index: 99; }
.dropdown .dropdown-menu li a { display: block; padding: 0 20px; line-height: 30px; color: #333; }
.dropdown .dropdown-menu li a:hover { color: #fff; background-color: #1380CB; }

.control-pics {  }
.control-pics .control-pic-list { float: left; margin-bottom: 10px; padding: 10px; width: 100%; border: 1px solid #ddd; background: #fff; }
.control-pics .control-pic-list .top { float: left; width: 100px; height: 100px; }
.control-pics .control-pic-list .top .pic-center { width: 100%; height: 100%; border: 0; background-color: #f9f9f9; }
.control-pics .control-pic-list .bottom { float: left; margin-left: 10px; width: 266px; }
.control-pics .control-pic-list .bottom .input { display: inline-block; margin: 0 0 5px 5px; padding: 3px 10px; width: 220px; height: 28px; line-height: 20px; color: #333; font-size: 12px; }
.control-pics .control-pic-list .handle { margin-top: 5px; padding-left: 40px; }
.control-pics .control-pic-list .handle .btn { display: inline-block; margin-right: 5px; padding: 0 10px; line-height: 25px; border-radius: 3px; color: #999; background-color: #eee; }
.control-pics .control-pic-list .handle .btn:hover { color: #fff; background-color: #1380cb; }
.control-pics .control-pic-list .upload {  }
.control-pics .control-pic-list.add { font-size: 14px; background: #fff url(../images/wap/ico_add.png) no-repeat 10px center; }
.control-pics .control-pic-list.add label { display: block; padding-left: 26px; cursor: pointer; }

.hd-popover { position: absolute; z-index: 111; padding: 3px; background: #ccc; border-radius: 6px; }
.hd-popover .hd-popover-inner { padding: 10px; background: #fff; min-width: 280px; border-radius: 4px; }
.hd-popover .hd-popover-inner .hd-popover-text { float: left; width: 160px; text-align: center; font-size: 14px; line-height: 28px; }
.hd-popover .arrow { position: absolute; width: 0px; height: 0px; border: 5px solid transparent; }
.hd-popover.left .arrow { right: -10px; top: 50%; margin-top: -5px; border-left-color: #ccc; }
.hd-popover.bottom .arrow { right: 10px; top: -10px; border-bottom-color: #ccc; }
.hd-popover .arrow:after { position: relative; display: block; content: ' '; font-size: 0; width: 0px; height: 0px; border: 5px solid transparent; }
.hd-popover.left .arrow:after { right: 8px; top: -5px; border-left-color: #fff; }
.hd-popover.bottom .arrow:after { right: 5px; top: -2px; border-bottom-color: #fff; }
.hd-popover .hd-popover-handle { float: right; }
.hd-popover .hd-popover-handle .button { float: left; margin-left: 3px; padding: 3px 10px; height: 28px; }

/**/
.hd-js-slider { float:left; position: relative; margin-top: 7px; margin-right: 10px; border: 1px solid #999; height: 12px; width: 220px; border-radius: 6px; box-shadow: inset 0 1px 3px #ccc; background: #fff; }
.hd-js-slider .hd-slider-handle { position: absolute; left: 0; top: -5px; display:block; width: 20px; height: 20px; border-radius: 50%; border: 1px solid #999; background-color: #ddd; cursor: move; }
.hd-js-slider .hd-slider-handle:hover { border-color: #2A95DE; background: #eee; }

/*魔方*/
.tablecloth { width: 240px; height: 240px; color: #ccc; border-collapse: collapse; border-spacing: 0; }
.tablecloth tr td { width: 60px; height: 60px; cursor: pointer; text-align: center; vertical-align: middle; }
.tablecloth tr td img { height: auto; max-width: 100%; vertical-align: middle; }
.tablecloth tr td.no-empty { color: #fff; text-shadow: 0 0 2px #666; background: #e5e5e5; }
.tablecloth tr td.current { padding: 2px; -webkit-box-shadow: 0 0 0 2px #858585 inset; box-shadow: 0 0 0 2px #858585 inset; }
.tablecloth tr td.cols-2 { width: 120px; }
.tablecloth tr td.cols-3 { width: 180px; }
.tablecloth tr td.cols-4 { width: 240px; }
.tablecloth tr td.rows-2 { height: 120px; }
.tablecloth tr td.rows-3 { height: 180px; }
.tablecloth tr td.rows-4 { height: 240px; }
.tablecloth tr td.index-0 { background: #9c6; }
.tablecloth tr td.index-1 { background: #cc9; }
.tablecloth tr td.index-2 { background: #c99; }
.tablecloth tr td.index-3 { background: #fc9; }
.tablecloth tr td.index-4 { background: #cc0; }
.tablecloth tr td.index-5 { background: #fcc; }
.tablecloth tr td.index-6 { background: #ccf; }
.tablecloth tr td.index-7 { background: #fc3; }
.tablecloth tr td.index-8 { background: #9cf; }
.tablecloth tr td.index-9 { background: #fc9; }
.tablecloth tr td.index-10 { background: #9c9; }
.tablecloth tr td.index-11 { background: #6c9; }
.tablecloth tr td.index-12 { background: #fc0; }
.tablecloth tr td.index-13 { background: #ff9; }
.tablecloth tr td.index-14 { background: #f9c; }
.tablecloth tr td.index-15 { background: #cfc; }
.tablecloth tr td.selected { background-color: #eee; }
.tablecloth tr td.start { color: #fff; background: #f5dbbc; }
.tablecloth tr td.hover { color: #fff; background: #f8cb97; }
.layout-table { display: inline-block; }
.layout-table .layout-cols { margin: 0; }
.layout-table .layout-cols li { float: left; margin: 1px; width: 60px; height: 60px; border: 1px solid #ddd; background-color: #f3f3f3; }
.layout-table .layout-cols li.selected { border-color: #8cd0fb; background-color: #ebf7fe; }

.choices .choice { display: none; position: relative; border: 1px solid #e5e5e5; margin: 10px 10px 0 10px; padding: 14px; background: #fff; zoom: 1; }
.choices .choice .pic-info { padding-top: 5px; }
.choices .choice .pic-info .load { display: inline-block; cursor: pointer; font-size: 14px; }
.choices .choice .input { width: 220px; }
.choices .choice .close-modal { position: absolute; z-index: 2; top: 2px; right: 2px; width: 20px; height: 20px; font-size: 16px; line-height: 18px; color: #fff; text-align: center; cursor: pointer; background: rgba(153,153,153,0.6); border-radius: 10px; }

.modal-wrap { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; }
.modal-wrap .modal { position: absolute; top: 50%; left: 50%; margin-top: -161px; margin-left: -466px; width: 932px; height: 325px; z-index: 9; }
.modal-wrap .modal .modal-header { line-height: 20px; border-bottom: 1px solid #ddd; background: #f9f9f9; }
.modal-wrap .modal .modal-header .modal-close { float: right; font-size: 18px; cursor: pointer; }
.modal-wrap .modal-backdrop { width: 100%; height: 100%; background-color: #fff; opacity: 0.8; filter:alpha(opacity=80); }
.goods-search-class-content { top: 0; left: 0; width: 932px; z-index: 5; }
.goods-add-class .root a, .goods-add-class .child a { color: #464646; }

