<div class="col-md-2" print-remove>
  <div class="panel pull-left dept-wrapper panel-default">
    <div class="panel-heading">
      <i class="fa fa-bars"></i>
      <span>科室列表</span>
    </div>
    <div class="panel-body list">
      <div class="list-filter">
        <input type="text" class="form-control input-sm" ng-model="vm.filterText.deptName" placeholder="输入关键字搜索">
      </div>
      <div class="list__tile">
        <a href="javascript:;" ng-class="{'active': vm.deptData.deptCode === vm.selectedDept}" ng-click="vm.load(vm.deptData.deptCode,vm.deptData.deptName)">
          <span class="list__text ng-binding ng-scope" role="button" tabindex="0">{{vm.deptData.deptName}}</span>
          <i class="pull-right fa fa-angle-down"></i>
        </a>
      </div>
      <ul class="sublist">
        <li ng-repeat="subItem in vm.deptData.belongedDepts | filter: vm.filterText" class="accordion-item" ng-class="{'active': subItem.deptCode === vm.selectedDept}">
          <a ng-click="vm.load(subItem.deptCode,subItem.deptName)" class="sublist__item">{{subItem.deptName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="panel panel-layout panel-default">
    <div class="panel-heading">
      <i class="fa fa-user"></i>
      <span>人员数据</span>

      <div class="pull-right">
        <button class="btn btn-default btn-xs" ng-click="vm.openUpload()">
          <i class="fa fa-upload"></i>
          导入数据
        </button>
        <button print-btn class="btn btn-default btn-xs">
          <i class="fa fa-print"></i>
          打印
        </button>
        <button ng-click="vm.open()" ng-disabled="!vm.selectedDept" class="btn btn-default btn-xs">
          <i class="fa fa-user-plus"></i>
          添加员工
        </button>
      </div>
    </div>
    <div class="panel-body">
      <table class="print-header table table-hover table-condensed table-bordered">
        <thead>
          <tr class="header-export">
            <th>
              <grid-check-all all="vm.userDataList"></grid-check-all>
            </th>
            <th print-remove></th>
            <th>编号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>电话</th>
            <th print-remove>操作</th>
          </tr>
        </thead>
      </table>
      <table print-table="vm.userDataList" st-table="vm.userDataList" st-safe-src="rowCollection" class="table table-hover table-condensed table-bordered table-striped">
        <thead>
          <tr class="header-export">
            <th>
              <grid-check-all all="vm.userDataList"></grid-check-all>
            </th>
            <th print-remove></th>
            <th st-sort="hisCode">编号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>电话</th>
            <th print-remove>操作</th>
          </tr>
        </thead>
        <tbody ng-repeat="row in vm.userDataList">
          <tr class="row-{{$index}}">
            <td grid-checkbox="row"></td>
            <td grid-expand-trigger grid-p="userCode" grid-expand-method="loadDetail" class="trigger">
              <i class="fa fa-caret-right"></i>
            </td>
            <td>{{row.hisCode}}</td>
            <td>{{row.userName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phone}}</td>
            <td class="print-remove" data-title="'操作'">
              <button class="btn btn-default btn-xs" ng-click="vm.open(row.userCode)" uib-tooltip="编辑员工信息" ng-if="!row.isEditing"><span class="fa fa-pencil"></span></button>
              <button class="btn btn-danger btn-xs" ng-click="vm.del(row)" uib-tooltip="删除员工" ng-if="!row.isEditing"><span class="fa fa-trash"></span></button>
            </td>
          </tr>
          <tr grid-expand tpl-src="app/nursingWorkers/files/files.detail.html" ng-show="vm.expanedIndex == $index && vm.expanded"></tr>
        </tbody>

      </table>
      <none-data-info list="vm.userDataList"></none-data-info>
    </div>
  </div>
</div>
